<div data-ng-controller="MailingListsUpdateCtrl as ctrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="updateMailingList"
         data-wizard-title="i18n.mailing_list_tab_modal_list_update">

        <div data-wizard-step
             data-wizard-step-valid="ctrl.updateMailingListForm.$valid">

            <p class="font-weight-bold" data-ng-bind="tr('mailing_list_tab_modal_update_list_title', ctrl.mailingList.name)"></p>

            <oui-loader data-ng-if="ctrl.loading"></oui-loader>

            <div data-ng-show="!ctrl.loading">
                <p data-i18n-static="mailing_list_tab_modal_update_list_heading"></p>

                <form class="form-horizontal" name="ctrl.updateMailingListForm">
                    <p>
                        <small class="text-danger">*</small>
                        <small data-i18n-static="required_fields"></small>
                    </p>

                    <div class="form-group" data-ng-class="{
                        'has-error': ctrl.updateMailingListForm.mlOwner.$dirty && ctrl.updateMailingListForm.mlOwner.$invalid,
                        'has-success': ctrl.updateMailingListForm.mlOwner.$dirty && ctrl.updateMailingListForm.mlOwner.$valid
                    }">
                        <label class="control-label col-md-4 required" for="txt-ml-owner"
                               data-i18n-static="mailing_list_tab_modal_create_list_owner"></label>
                        <div class="col-md-7">
                            <input type="email" class="form-control" id="txt-ml-owner" name="mlOwner" required
                                   data-ng-change="ctrl.emailCheck(ctrl.updateMailingListForm.mlOwner)"
                                   data-ng-model="ctrl.mailingList.ownerEmail">
                            <small class="help-block"
                                   data-i18n-static="email_tab_modal_redirection_create_email_error"
                                   data-ng-if="ctrl.updateMailingListForm.mlOwner.$dirty && ctrl.updateMailingListForm.mlOwner.$invalid"></small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 required" for="select-languages"
                               data-i18n-static="mailing_list_tab_modal_create_list_language"></label>
                        <div class="col-md-7">
                            <div class="oui-select oui-select_inline mb-0">
                                <select class="oui-select__input" id="select-languages" name="mlLanguage" required
                                        data-ng-model="ctrl.mailingList.language"
                                        data-ng-options="lang as tr('language_' + lang) for lang in ctrl.languages track by lang">
                                    <option value="" disabled
                                            data-i18n-static="select_placeholder"></option>
                                </select>
                                <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4"
                               data-i18n-static="mailing_list_tab_modal_create_list_reply_to"></label>
                        <div class="col-md-8">
                            <div class="oui-radio">
                                <input type="radio" class="oui-radio__input" id="selectReplyTo-ml" name="selectReplyTo"
                                       data-ng-change="ctrl.selectReplyTo()"
                                       data-ng-model="ctrl.replyToSelector"
                                       data-ng-value="ctrl.constants.MAILING_LIST">
                                <label class="oui-radio__label-container" for="selectReplyTo-ml">
                                    <span class="oui-radio__label"
                                          data-i18n-static="mailing_list_tab_modal_update_list_reply_to_list"></span>
                                </label>
                            </div>
                            <div class="oui-radio">
                                <input type="radio" class="oui-radio__input" id="selectReplyTo-lu" name="selectReplyTo"
                                       data-ng-change="ctrl.selectReplyTo()"
                                       data-ng-model="ctrl.replyToSelector"
                                       data-ng-value="ctrl.constants.LAST_USER">
                                <label class="oui-radio__label-container" for="selectReplyTo-lu">
                                    <span class="oui-radio__label"
                                          data-i18n-static="mailing_list_tab_modal_update_list_reply_to_last_user"></span>
                                </label>
                            </div>
                            <div class="oui-radio">
                                <input type="radio" class="oui-radio__input" id="selectReplyTo-rte" name="selectReplyTo"
                                       data-ng-change="ctrl.selectReplyTo()"
                                       data-ng-model="ctrl.replyToSelector"
                                       data-ng-value="ctrl.constants.REPLY_TO_EMAIL">
                                <label class="oui-radio__label-container" for="selectReplyTo-rte">
                                    <span class="oui-radio__label"
                                          data-i18n-static="mailing_list_tab_modal_update_list_reply_to_email"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-ng-class="{
                            'has-error': ctrl.updateMailingListForm.replyTo.$dirty && ctrl.updateMailingListForm.replyTo.$invalid,
                            'has-success': ctrl.updateMailingListForm.replyTo.$dirty && ctrl.updateMailingListForm.replyTo.$valid
                        }"
                         data-ng-if="ctrl.replyToSelector === ctrl.constants.REPLY_TO_EMAIL">
                        <label class="control-label col-md-4 required" for="txt-ml-replyTo"
                               data-i18n-static="mailing_list_tab_modal_create_list_reply_to"></label>
                        <div class="col-md-7">
                            <input type="email" class="form-control" id="txt-ml-replyTo" name="replyTo" required
                                   data-ng-change="ctrl.emailCheck(ctrl.updateMailingListForm.replyTo)"
                                   data-ng-model="ctrl.mailingList.replyTo">
                            <small class="help-block"
                                   data-i18n-static="email_tab_modal_redirection_create_email_error"
                                   data-ng-if="ctrl.updateMailingListForm.replyTo.$dirty && ctrl.updateMailingListForm.replyTo.$invalid"></small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4" data-i18n-static="mailing_list_tab_modal_create_list_moderator_message"></label>
                        <div class="col-md-8">
                            <div class="oui-radio">
                                <input type="radio" class="oui-radio__input" id="rdMessages-yes" name="rdMessages"
                                       data-ng-change="ctrl.selectModerationMsg()"
                                       data-ng-model="ctrl.mailingList.mlModerationMsg"
                                       data-ng-value="true">
                                <label class="oui-radio__label-container" for="rdMessages-yes">
                                    <span class="oui-radio__label"
                                          data-i18n-static="mailing_list_tab_modal_create_list_moderator_all_messages"></span>
                                </label>
                            </div>
                            <div class="oui-radio">
                                <input type="radio" class="oui-radio__input" id="rdMessages-no" name="rdMessages"
                                       data-ng-change="ctrl.selectModerationMsg()"
                                       data-ng-model="ctrl.mailingList.mlModerationMsg"
                                       data-ng-value="false">
                                <label class="oui-radio__label-container" for="rdMessages-no">
                                    <span class="oui-radio__label"
                                          data-i18n-static="mailing_list_tab_modal_create_list_users_post_only"></span>
                                </label>
                            </div>
                            <div class="oui-radio">
                                <input type="radio" class="oui-radio__input" id="rdMessages-null" name="rdMessages"
                                       data-ng-change="ctrl.selectModerationMsg()"
                                       data-ng-model="ctrl.mailingList.mlModerationMsg"
                                       data-ng-value="null">
                                <label class="oui-radio__label-container" for="rdMessages-null">
                                    <span class="oui-radio__label"
                                          data-i18n-static="mailing_list_tab_modal_create_list_no_moderation"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-offset-4 pl-lg-3">
                        <div class="oui-checkbox mb-0">
                            <input type="checkbox" class="oui-checkbox__input" id="chk-ml-only-subscribers" name="mlSubscribersModeration"
                                   data-ng-model="ctrl.mailingList.options.subscribeByModerator">
                            <label class="oui-checkbox__label-container" for="chk-ml-only-subscribers">
                                <span class="oui-checkbox__label"
                                      data-i18n-static="mailing_list_tab_modal_create_list_only_subscribers_moderator"></span>
                                <span class="oui-checkbox__icon">
                                    <span class="oui-icon oui-icon-checkbox-unchecked" aria-hidden="true"></span>
                                    <span class="oui-icon oui-icon-checkbox-checked" aria-hidden="true"></span>
                                    <span class="oui-icon oui-icon-checkbox-checkmark" aria-hidden="true"></span>
                                </span>
                            </label>
                        </div>
                        <div class="font-italic" data-ng-bind-html="tr('mailing_list_tab_create_subscribers_max', [ctrl.limits.subscribers])"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
