<div data-ng-controller="HostingBoostOfferDisableCtrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="disableBoost"
         data-wizard-title="i18n.hosting_tab_BOOST_disable_offer">

        <div data-wizard-step
             data-wizard-step-valid="isStepValid()">

            <div class="text-center" data-ng-if="loaders.disable">
                <oui-loader inline="true"></oui-loader>
            </div>

            <div data-ng-if="!loaders.disable">
                <p data-i18n-static="hosting_tab_BOOST_disable_title"></p>
                <p data-i18n-static="hosting_tab_BOOST_disable_description"></p>
                <div class="oui-checkbox">
                    <input type="checkbox" class="oui-checkbox__input" id="acceptCGV"
                           data-ng-model="acceptCGV.value">
                    <label class="oui-checkbox__label-container" for="acceptCGV">
                        <span class="oui-checkbox__label"
                              data-i18n-static="hosting_tab_BOOST_accept_cgv"></span>
                        <span class="oui-checkbox__icon">
                            <span class="oui-icon oui-icon-checkbox-unchecked" aria-hidden="true"></span>
                            <span class="oui-icon oui-icon-checkbox-checked" aria-hidden="true"></span>
                            <span class="oui-icon oui-icon-checkbox-checkmark" aria-hidden="true"></span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
