<div data-ng-controller="HostingFtpUserCreateCtrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="createUser"
         data-wizard-title="i18n.hosting_tab_FTP_configuration_user_create_title">

        <div data-wizard-step
             data-wizard-step-valid="isStep1Valid()"
             data-wizard-step-on-load="load">

            <p data-i18n-static="hosting_tab_FTP_configuration_user_create_step1_question"></p>

            <p class="text-danger"
               data-i18n-static="hosting_tab_FTP_configuration_user_create_step1_no_user_left"
               data-ng-if="model.capabilities && model.capabilities.maxUser === 0"></p>

            <div class="loader text-center" aria-label="{{i18n.common_loading}}" data-ng-if="!model.capabilities"></div>

            <form class="form-horizontal" name="hostingUserCreateForm"
                  data-ng-if="model.capabilities && model.capabilities.maxUser > 0">

                <div class="form-group" data-ng-class="{'has-error': hostingUserCreateForm.hostingUserCreateLogin.$dirty && !isUserValid()}">
                    <label class="control-label col-md-3 required" for="hostingUserCreateLogin"
                           data-i18n-static="hosting_tab_FTP_configuration_user_create_step1_user"></label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon" data-ng-bind="model.primaryLogin + '-'"></span>
                            <input type="text" class="form-control" name="hostingUserCreateLogin" id="hostingUserCreateLogin" required
                                   data-ng-model="model.selected.login">
                        </div>
                        <small class="help-block"
                               data-i18n-static="hosting_tab_FTP_configuration_user_create_step1_user_error"
                               data-ng-if="hostingUserCreateForm.hostingUserCreateLogin.$dirty && !isUserValid()"></small>
                        <small class="d-block"
                               data-ng-bind="tr('hosting_tab_FTP_configuration_user_create_step1_user_condition', [model.minUserLength, model.maxUserLength])"></small>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error': hostingUserCreateForm.hostingUserCreateHome.$dirty && !isPathValid()}">
                    <label class="control-label col-md-3" for="hostingUserCreateHome"
                           data-i18n-static="hosting_tab_FTP_configuration_user_create_step1_home_label"></label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon">./</span>
                            <input type="text" class="form-control" name="hostingUserCreateHome" id="hostingUserCreateHome"
                                   data-ng-model="model.selected.home">
                        </div>
                        <small class="help-block"
                               data-i18n-static="hosting_common_path_help_inline"
                               data-ng-if="!isPathValid()"></small>
                    </div>
                </div>
            </form>
        </div>

        <div data-wizard-step
             data-wizard-step-valid="isPasswordValid()">

            <p data-i18n-static="hosting_tab_FTP_configuration_user_create_step2_password_question"></p>

            <form class="form-horizontal" name="hostingUserCreateForm"
                  data-ng-if="model.capabilities && model.capabilities.maxUser > 0">

                <div class="form-group" data-ng-class="{'has-error': hostingUserCreateForm.hostingUserCreatePassword.$dirty && (hostingUserCreateForm.hostingUserCreatePassword.$invalid || getPasswordInvalidClass())}">
                    <label class="control-label col-md-4 required" for="hostingUserCreatePassword"
                           data-i18n-static="hosting_tab_FTP_configuration_user_create_step2_password_password"></label>
                    <div class="col-md-6">
                        <input type="password" autocomplete="off" class="form-control" name="hostingUserCreatePassword" id="hostingUserCreatePassword" required
                               data-ng-minlength="{{condition.min}}"
                               data-ng-maxlength="{{condition.max}}"
                               data-ng-model="model.selected.password.value">
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error': hostingUserCreateForm.hostingUserCreatePasswordConfirm.$dirty && (hostingUserCreateForm.hostingUserCreatePasswordConfirm.$invalid || getPasswordConfirmationInvalidClass())}">
                    <label class="control-label col-md-4 required" for="hostingUserCreatePasswordConfirm"
                           data-i18n-static="hosting_tab_FTP_configuration_user_create_step2_password_confirmation"></label>
                    <div class="col-md-6">
                        <input type="password" autocomplete="off" class="form-control" id="hostingUserCreatePasswordConfirm" name="hostingUserCreatePasswordConfirm" required
                               data-ng-minlength="{{condition.min}}"
                               data-ng-maxlength="{{condition.max}}"
                               data-ng-model="model.selected.password.confirmation">
                        <small class="help-block"
                               data-i18n-static="hosting_tab_DATABASES_configuration_create_step2_password_error"
                               data-ng-if="hostingUserCreateForm.hostingUserCreatePasswordConfirm.$dirty && getPasswordConfirmationInvalidClass()"></small>
                    </div>
                </div>
            </form>

            <div class="row">
                <small class="col-md-8 col-md-offset-4" data-ng-bind-html="tr('hosting_common_password_conditions', [condition.min, condition.max])"></small>
            </div>
        </div>

        <div data-wizard-step>
            <p data-i18n-static="hosting_tab_FTP_configuration_user_create_step3_question"></p>
            <dl class="dl-horizontal dl-lg">
                <dt data-i18n-static="hosting_tab_FTP_configuration_user_create_step3_user"></dt>
                <dd data-ng-bind="model.primaryLogin + '-' + model.selected.login"></dd>
                <dt data-i18n-static="hosting_tab_FTP_configuration_user_create_step3_home_label"></dt>
                <dd data-ng-bind="getSelectedHome()"></dd>
            </dl>
        </div>
    </div>
</div>
