<div data-ng-controller="PrivateDatabaseAddBddCtrl as addBddCtrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="addBdd"
         data-wizard-title="i18n.privateDatabase_add_bdd_title">

        <div data-wizard-step
             data-wizard-step-valid="isBddValid()">

            <p>
                <small class="text-danger">*</small>
                <small data-i18n-static="required_fields"></small>
            </p>

            <form class="form-horizontal" name="privateDatabaseAddBddForm">
                <!-- Hidden text and password field to prevent the browsers from autocompleting the email and password fields
                 with the nichandle and password. see http://stackoverflow.com/a/23234498 -->
                <input type="text" style="display:none">
                <input type="password" style="display:none">

                <!-- DATABASE NAME-->
                <div class="form-group" data-ng-class="{
                    'has-error': privateDatabaseAddBddForm.bddvalue.$dirty && privateDatabaseAddBddForm.bddvalue.$invalid
                }">
                    <label class="control-label col-md-4 required" for="bddvalue"
                           data-i18n-static="privateDatabase_add_bdd_name"></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="bddvalue" name="bddvalue" aria-describedby="bddvalueHelp" required
                               data-ng-model="addBddCtrl.model.database.value"
                               data-ng-pattern="addBddCtrl.model.database.condition.reg">
                        <small class="help-block"
                               data-ng-bind="i18n['privateDatabase_add_bdd_error_name_' + error] || error"
                               data-ng-if="privateDatabaseAddBddForm.bddvalue.$dirty && privateDatabaseAddBddForm.bddvalue.$invalid"
                               data-ng-repeat="(error, value) in privateDatabaseAddBddForm.bddvalue.$error track by error">
                        </small>
                        <div class="alert alert-info mt-3" id="bddvalueHelp" role="alert"
                             data-ng-bind-html="tr('privateDatabase_create_bdd_conditions', [addBddCtrl.model.database.condition.length.min, addBddCtrl.model.database.condition.length.max])">
                        </div>
                    </div>
                </div>
            </form>

            <form class="form-horizontal" name="privateDatabaseAddBddUserForm">
                <!-- ADD NEW USER-->
                <div class="oui-checkbox d-inline-block">
                    <input type="checkbox" class="oui-checkbox__input" name="bddAddUser" id="bddAddUser"
                           data-ng-model="addBddCtrl.model.addUser">
                    <label class="oui-checkbox__label-container" for="bddAddUser">
                        <span class="oui-checkbox__label"
                              data-i18n-static="privateDatabase_add_bdd_new_user"></span>
                        <span class="oui-checkbox__icon">
                            <span class="oui-icon oui-icon-checkbox-unchecked" aria-hidden="true"></span>
                            <span class="oui-icon oui-icon-checkbox-checked" aria-hidden="true"></span>
                            <span class="oui-icon oui-icon-checkbox-checkmark" aria-hidden="true"></span>
                        </span>
                    </label>
                </div>

                <div class="mt-5" data-ng-if="addBddCtrl.model.addUser">
                    <!-- LOGIN -->
                    <div class="form-group"
                         data-ng-class="{'has-error': privateDatabaseAddBddUserForm.bddAddUserLogin.$dirty && privateDatabaseAddBddUserForm.bddAddUserLogin.$invalid}">
                        <label class="control-label col-md-4 required" for="bddAddUserLogin"
                               data-i18n-static="privateDatabase_add_bdd_new_user_login"></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="bddAddUserLogin" id="bddAddUserLogin" aria-describedby="bddUserHelp" autocomplete="off" required
                                   data-ng-model="addBddCtrl.model.user.login.value"
                                   data-ng-pattern="addBddCtrl.model.user.login.condition.reg">
                            <div class="alert alert-info help-block mt-3" id="bddUserHelp" role="alert"
                                 data-ng-bind-html="tr('privateDatabase_add_user_conditions', [addBddCtrl.model.user.login.condition.length.min, addBddCtrl.model.user.login.condition.length.max])"
                                 data-ng-class="{'alert-danger': privateDatabaseAddBddUserForm.bddAddUserLogin.$dirty && privateDatabaseAddBddUserForm.bddAddUserLogin.$invalid}">
                            </div>
                        </div>
                    </div>

                    <!-- GRANT -->
                    <div class="form-group">
                        <label class="control-label col-md-4 required" for="bddAddUserGrant"
                               data-i18n-static="privateDatabase_add_bdd_new_user_grant"></label>
                        <div class="col-md-8">
                            <div class="oui-select mb-0">
                                <select class="oui-select__input" id="bddAddUserGrant" name="bddAddUserGrant" required
                                        data-ng-model="addBddCtrl.model.user.grant.value"
                                        data-ng-options="grant as addBddCtrl.getGrantLabel(grant) for grant in addBddCtrl.grantEnum track by grant">
                                </select>
                                <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                            </div>
                            <small class="help-block"
                                   data-ng-if="addBddCtrl.model.user.grant.value"
                                   data-ng-bind="tr('privateDatabase_tabs_user_grant_' + addBddCtrl.model.user.grant.value + '_tooltip')">
                            </small>
                        </div>
                    </div>

                    <!-- PASSWORD -->
                    <div class="form-group"
                         data-ng-class="{'has-error': privateDatabaseAddBddUserForm.bddAddUserPassword.$dirty && !addBddCtrl.checkPassword()}">
                        <label class="control-label col-md-4 required" for="bddAddUserPassword"
                               data-i18n-static="privateDatabase_add_bdd_new_user_password"></label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" id="bddAddUserPassword" name="bddAddUserPassword" aria-describedby="bddPasswordHelp" autocomplete="off" required
                                   data-ng-model="addBddCtrl.model.user.password.value">
                        </div>
                    </div>

                    <div class="form-group" data-ng-class="{
                        'has-error': privateDatabaseAddBddUserForm.bddAddUserPasswordConfirm.$dirty && privateDatabaseAddBddUserForm.bddAddUserPassword.$dirty && !addBddCtrl.checkPasswordConfirm()
                    }">
                        <label class="control-label col-md-4 required" for="bddAddUserPasswordConfirm"
                               data-i18n-static="privateDatabase_add_bdd_new_user_password_confirm"></label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" name="bddAddUserPasswordConfirm" id="bddAddUserPasswordConfirm" autocomplete="off" required
                                   data-ng-model="addBddCtrl.model.user.password.confirm">
                             <div class="alert alert-info help-block mt-3" id="bddPasswordHelp" role="alert"
                                  data-ng-bind-html="tr('privateDatabase_change_rootPassword_conditions', [addBddCtrl.model.user.password.condition.length.min, addBddCtrl.model.user.password.condition.length.max])"
                                  data-ng-class="{'alert-danger': privateDatabaseAddBddUserForm.bddAddUserPasswordConfirm.$dirty && privateDatabaseAddBddUserForm.bddAddUserPassword.$dirty && !addBddCtrl.checkPasswordConfirm()}">
                             </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
