<div data-ng-controller="EmailsCreateResponderCtrl as ctrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="createResponder"
         data-wizard-title="i18n.email_tab_modal_create_responder_title">

        <div data-wizard-step
             data-wizard-step-valid="ctrl.createResponderForm.$valid && ctrl.responderDurationCheck()">

            <p data-i18n-static="email_tab_modal_create_responder_heading"></p>
            <p class="font-weight-bold" data-i18n-static="email_tab_modal_create_responder_info"></p>

            <oui-loader data-ng-if="ctrl.loading"></oui-loader>

            <div data-ng-if="!ctrl.loading">
                <form class="form-horizontal" name="ctrl.createResponderForm">
                    <p>
                        <small class="text-danger">*</small>
                        <small data-i18n-static="required_fields"></small>
                    </p>

                    <div class="form-group" data-ng-if="!ctrl.isDelegated">
                        <span class="col-md-4 control-label text-lg-right oui-label"
                              data-i18n-static="email_tab_modal_create_responder_type"></span>
                        <div class="col-md-8">
                            <div class="oui-radio">
                                <input type="radio" class="oui-radio__input" id="responderType-attached" name="responderType" value="typeAttached"
                                       data-ng-model="ctrl.model.responderType">
                                <label class="oui-radio__label-container" for="responderType-attached">
                                    <span class="oui-radio__label"
                                          data-i18n-static="email_tab_modal_create_responder_type_attached"></span>
                                </label>
                            </div>
                            <div class="oui-radio">
                                <input type="radio" class="oui-radio__input" id="responderType-free" name="responderType" value="typeFree"
                                       data-ng-model="ctrl.model.responderType">
                                <label class="oui-radio__label-container" for="responderType-free">
                                    <span class="oui-radio__label"
                                          data-i18n-static="email_tab_modal_create_responder_type_free"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-ng-if="ctrl.model.responderType === 'typeAttached'">
                        <label class="control-label col-md-4 required" for="select-account"
                               data-i18n-static="email_tab_modal_create_responder_account"></label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <div class="oui-select mb-0">
                                    <select class="oui-select__input" id="select-account" name="responderAccount" required
                                            data-ng-model="ctrl.model.account"
                                            data-ng-options="account for account in ctrl.accountsNotUsed track by account">
                                        <option value="" disabled
                                                data-i18n-static="select_placeholder"></option>
                                    </select>
                                    <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                                </div>
                                <span class="input-group-addon text-truncate" style="font-size:90%;max-width:22rem"
                                      data-ng-bind="'@' + ctrl.domain"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-ng-class="{
                            'has-error': ctrl.createResponderForm.responderAccount.$dirty && ctrl.createResponderForm.responderAccount.$invalid,
                            'has-success': ctrl.createResponderForm.responderAccount.$dirty && ctrl.createResponderForm.responderAccount.$valid
                        }"
                         data-ng-if="ctrl.model.responderType === 'typeFree'">
                        <label class="control-label col-md-4 required" for="txt-account"
                               data-i18n-static="email_tab_modal_create_responder_name"></label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input type="text" class="form-control" id="txt-account" name="responderAccount" required
                                       data-ng-change="ctrl.responderAccountCheck(ctrl.createResponderForm.responderAccount)"
                                       data-ng-maxlength="ctrl.constants.nameMaxLength"
                                       data-ng-minlength="ctrl.constants.nameMinLength"
                                       data-ng-model="ctrl.model.account"
                                       data-ng-pattern="ctrl.constants.nameRegexPattern">
                                <span class="input-group-addon text-truncate" style="font-size:90%;max-width:22rem"
                                      data-ng-bind="'@' + ctrl.domain"></span>
                            </div>
                            <small class="help-block"
                                   data-i18n-static="email_tab_modal_create_account_exists"
                                   data-ng-if="ctrl.createResponderForm.responderAccount.$dirty && ctrl.createResponderForm.responderAccount.$error.account"></small>
                            <small class="help-block"
                                   data-i18n-static="email_tab_modal_create_responder_exists"
                                   data-ng-if="ctrl.createResponderForm.responderAccount.$dirty && ctrl.createResponderForm.responderAccount.$error.responder"></small>
                            <small class="help-block"
                                   data-ng-bind-html="tr('emails_common_account_name_conditions', [ctrl.constants.nameMinLength, ctrl.constants.nameMaxLength])"
                                   data-ng-if="ctrl.createResponderForm.responderAccount.$dirty &&
                                        (ctrl.createResponderForm.responderAccount.$error.minlength || ctrl.createResponderForm.responderAccount.$error.maxlength || ctrl.createResponderForm.responderAccount.$error.pattern)"></small>
                            <small class="help-block"
                                   data-i18n-static="email_tab_modal_redirection_create_email_error"
                                   data-ng-if="ctrl.createResponderForm.responderAccount.$dirty && ctrl.createResponderForm.responderAccount.$error.email &&
                                        !ctrl.createResponderForm.responderAccount.$error.minlength && !ctrl.createResponderForm.responderAccount.$error.maxlength && !ctrl.createResponderForm.responderAccount.$error.pattern"></small>
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="col-md-4 control-label text-lg-right oui-label"
                              data-i18n-static="email_tab_modal_create_responder_duration"></span>
                        <div class="col-md-4">
                            <div class="oui-radio">
                                <input type="radio" class="oui-radio__input" id="responderDuration-temporary" name="responderDuration" value="temporary"
                                       data-ng-model="ctrl.model.responderDuration">
                                <label class="oui-radio__label-container" for="responderDuration-temporary">
                                    <span class="oui-radio__label"
                                          data-i18n-static="email_tab_modal_create_responder_temporary"></span>
                                </label>
                            </div>
                            <div class="oui-radio">
                                <input type="radio" class="oui-radio__input" id="responderDuration-permanent" name="responderDuration" value="permanent"
                                       data-ng-change="ctrl.resetResponderDuration()"
                                       data-ng-model="ctrl.model.responderDuration">
                                 <label class="oui-radio__label-container" for="responderDuration-permanent">
                                     <span class="oui-radio__label"
                                           data-i18n-static="email_tab_modal_create_responder_permanent"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div data-ng-if="ctrl.model.responderDuration === 'temporary'">
                        <div class="form-group">
                            <label class="control-label col-md-4 required" for="date-responder-start"
                                   data-i18n-static="email_tab_modal_create_responder_start"></label>
                            <div class="col-md-6">
                                <div class="input-group"
                                     data-moment-picker="ctrl.model.responderDateStart"
                                     data-change="ctrl.responderDateStartCheck()"
                                     data-format="YYYY-MM-DD HH:mm"
                                     data-locale="{{translator.locale}}"
                                     data-start-view="month">
                                    <input type="text" class="form-control" id="date-responder-start" name="responderDateStart" required
                                           data-ng-model="ctrl.model.responderDateStart"
                                           data-ng-model-options="{ updateOn: 'blur' }">
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 required" for="date-responder-end"
                                   data-i18n-static="email_tab_modal_create_responder_end"></label>
                            <div class="col-md-6">
                                <div class="input-group"
                                     data-moment-picker="ctrl.model.responderDateEnd"
                                     data-change="ctrl.responderDateEndCheck()"
                                     data-format="YYYY-MM-DD HH:mm"
                                     data-locale="{{translator.locale}}"
                                     data-start-view="month">
                                    <input type="text" class="form-control" id="date-responder-end" name="responderDateEnd" required
                                           data-ng-model="ctrl.model.responderDateEnd"
                                           data-ng-model-options="{ updateOn: 'blur' }">
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <div class="oui-checkbox">
                                <input type="checkbox" class="oui-checkbox__input" id="responderKeepCopy" name="responderKeepCopy"
                                       data-ng-model="ctrl.model.responderKeepCopy">
                                <label class="oui-checkbox__label-container" for="responderKeepCopy">
                                    <span class="oui-checkbox__label">
                                        <span data-i18n-static="email_tab_modal_create_responder_delete_message"
                                              data-ng-if="ctrl.model.responderType !== 'typeFree'"></span>
                                        <span data-i18n-static="email_tab_modal_create_responder_copy"
                                              data-ng-if="ctrl.model.responderType === 'typeFree'"></span>
                                    </span>
                                    <span class="oui-checkbox__icon">
                                        <span class="oui-icon oui-icon-checkbox-unchecked" aria-hidden="true"></span>
                                        <span class="oui-icon oui-icon-checkbox-checked" aria-hidden="true"></span>
                                        <span class="oui-icon oui-icon-checkbox-checkmark" aria-hidden="true"></span>
                                    </span>
                                </label>
                            </div>
                            <div class="alert alert-warning" role="alert"
                                 data-i18n-static="email_tab_modal_create_responder_copy_warning"
                                 data-ng-if="!ctrl.model.responderKeepCopy">
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-ng-if="ctrl.model.responderKeepCopy && ctrl.model.responderType === 'typeFree'">
                        <label class="control-label col-md-4 required" for="txt-responder-copy-to"
                               data-i18n-static="email_tab_modal_create_responder_copy_to"></label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <div class="oui-select mb-0">
                                    <select class="oui-select__input" id="txt-responder-copy-to" name="responderCopyTo" required
                                            data-ng-model="ctrl.model.responderCopyTo"
                                            data-ng-options="account for account in ctrl.accounts track by account">
                                        <option value="" disabled
                                                data-i18n-static="select_placeholder"></option>
                                    </select>
                                    <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                                </div>
                                <span class="input-group-addon text-truncate" style="font-size:90%;max-width:22rem"
                                      data-ng-bind="'@' + ctrl.domain"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 required" for="txt-responder-content"
                               data-i18n-static="email_tab_modal_create_responder_message"></label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="txt-responder-content" name="responderContent" aria-describedby="responderContentHelp" required
                                      data-ng-model="ctrl.model.responderContent">
                            </textarea>
                            <small class="help-block" id="responderContentHelp"
                                   data-i18n-static="email_tab_responders_message_warning"></small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
