<div class="container-fluid px-0" data-ng-controller="PrivateDatabaseTasksCtrl as taskCtrl">
    <div data-ovh-alert="{{alerts.main}}"></div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" data-i18n-static="privateDatabase_tabs_tasks_name"></th>
                    <th scope="col" data-i18n-static="privateDatabase_tabs_tasks_startDate"></th>
                    <th scope="col" data-i18n-static="privateDatabase_tabs_tasks_lastUpdate"></th>
                    <th scope="col" data-i18n-static="privateDatabase_tabs_tasks_doneDate"></th>
                    <th scope="col" class="min-width text-right">
                        <button class="btn btn-icon" type="button" title="{{i18n.privateDatabase_tabs_refresh_data}}"
                                data-ng-click="taskCtrl.getTasks()">
                            <span class="fa fa-refresh" aria-hidden="true"></span>
                        </button>
                    </th>
                </tr>
            </thead>

            <tbody data-ng-if="taskCtrl.loaders.tasks">
                <tr>
                    <td class="loader text-center" colspan="5"></td>
                </tr>
            </tbody>

            <tbody data-ng-if="!taskCtrl.loaders.tasks && !taskCtrl.tasksIds.length">
                <tr>
                    <td class="text-center" colspan="5"
                        data-i18n-static="privateDatabase_tabs_tasks_null"></td>
                </tr>
            </tbody>

            <tbody data-ng-if="!taskCtrl.loaders.tasks && taskCtrl.tasksIds.length > 0">
                <tr data-ng-repeat="task in (taskDetails | orderBy:'userName') track by $index">
                    <th scope="row" data-ng-bind="::task.function"></th>
                    <td data-ng-bind="::task.startDate | date:'medium'"></td>
                    <td data-ng-bind="::task.lastUpdate | date:'medium'"></td>
                    <td data-ng-bind="::task.doneDate | date:'medium'"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="clearfix"
         data-ng-if="taskCtrl.tasksIds">
        <div data-pagination-front
             data-items="taskCtrl.tasksIds"
             data-paginated-items="taskDetails"
             data-current-page="currentPage"
             data-nb-pages="nbPages"
             data-items-per-page="itemsPerPage"
             data-transform-item="taskCtrl.getTasksDetails(item)"
             data-on-page-change="taskCtrl.loaders.tasks = true"
             data-on-transform-item-get-promise="taskCtrl.getPromise(promise)"
             data-page-placeholder="{{tr('pagination_page', [currentPage, nbPages])}}"
             data-item-per-page-placeholder="{{tr('pagination_display')}}"
             data-ng-show="!taskCtrl.loaders.tasks && taskCtrl.taskDetails.length > 0">
        </div>
    </div>
</div>
