.otrs-popup {
    height: 75% !important;
    padding-top: 30px;
    right: 30px;

    #headerPopup {
        position: absolute;
        top: 0;
    }

    #contentPopup {
        padding: 0 20px 20px;

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }
}

div.module-otrs, section.otrs-details {
    > div.span {
        padding: 32px 32px 0;
    }
}
