<div class="row" data-ng-if="worksDetails && worksDetails.length">
    <div class="col-md-8">
        <i class="fa fa-bolt" aria-hidden="true"></i>
        <span data-translate="core_works_description">
        </span>
        <button
            type="button"
            class="btn btn-link"
            data-ng-click="openListModal(worksDetails)"
            data-translate="core_works_link">
        </button>
    </div>
    <div id="{{modalId}}" class="modal fade currentAction" tabindex="-1"
         data-role="dialog" data-aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" data-ng-include="worksStepPath"></div>
        </div>
    </div>
</div>
