<div class="container-fluid px-0" data-ng-controller="controllers.Domain.Glue as ctrlDomainGlue">
    <div class="row">
        <div class="col-md-9">
            <div data-ovh-alert="{{alerts.main}}"></div>

            <p class="font-weight-bold" data-i18n-static="domain_tab_GLUE_heading"></p>
            <p data-i18n-static="domain_tab_GLUE_info"></p>

            <oui-loader size="l" data-ng-if="ctrlDomainGlue.loading"></oui-loader>

            <div class="alert alert-info" role="alert"
                 data-i18n-static="domain_tab_GLUE_empty"
                 data-ng-if="!ctrlDomainGlue.loading && !ctrlDomainGlue.glueHosts.length">
            </div>

            <div class="table-responsive" data-ng-if="!ctrlDomainGlue.loading && ctrlDomainGlue.glueHosts.length > 0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" data-i18n-static="domain_tab_GLUE_host"></th>
                            <th scope="col" data-i18n-static="domain_tab_GLUE_ip"></th>
                            <th class="min-width text-right" scope="col">
                                <button class="btn btn-icon" type="button" title="{{i18n.refresh}}"
                                        data-ng-click="ctrlDomainGlue.loadGlues()">
                                    <span class="fa fa-refresh" aria-hidden="true"></span>
                                </button>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr data-ng-repeat="glue in ctrlDomainGlue.glueDetails track by $index">
                            <th scope="row" data-ng-bind="glue.host"></th>
                            <td data-ng-bind="glue.ips"></td>
                            <td class="text-right">
                                <button class="btn btn-icon" type="button"
                                        data-linkedpopover="domain/glue/domain-glue.popover.html"
                                        data-linkedpopover-placement="left"
                                        data-linkedpopover-remote="true"
                                        data-linkedpopover-single="true"
                                        data-linkedpopover-title="{{i18n.common_actions}}">
                                    <span class="oui-icon oui-icon-gear_line oui-icon_small" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="clearfix"
                 data-ng-if="ctrlDomainGlue.glueHosts">
                <div data-pagination-front
                     data-items="ctrlDomainGlue.glueHosts"
                     data-paginated-items="ctrlDomainGlue.glueDetails"
                     data-current-page="currentPage"
                     data-nb-pages="nbPages"
                     data-items-per-page="itemsPerPage"
                     data-transform-item="ctrlDomainGlue.transformItem(item)"
                     data-on-transform-item-done="ctrlDomainGlue.onTransformItemDone(items)"
                     data-page-placeholder="{{tr('pagination_page', [currentPage, nbPages])}}"
                     data-item-per-page-placeholder="{{tr('pagination_display')}}"
                     data-on-page-change="ctrlDomainGlue.loading = true"
                     data-ng-show="!ctrlDomainGlue.loading && ctrlDomainGlue.glueDetails.length > 0">
                </div>
            </div>
        </div>

        <div class="col-md-3 mt-5 mt-lg-0">
            <div class="mb-5">
                <button class="btn btn-block btn-default" type="button"
                        data-i18n-static="domain_tab_GLUE_butt_add"
                        data-ng-click="setAction('glue/add/domain-glue-add-or-edit', { domain: ctrlDomainGlue.domain })">
                </button>
            </div>
            <div data-guides
                 data-guides-list="'glue'"
                 data-guides-title="tr('guide_domain_subtitle')"
                 data-tr="tr">
            </div>
        </div>
    </div>
</div>
