{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "jquery": true
    },
    "globals": {
        "_": true,
        "angular": true,
        "Chart": true,
        "filesize": true,
        "ipaddr": true,
        "JustGage": true,
        "moment": true,
        "punycode": true,
        "Raven": true,
        "URI": true,
        "validator": true
    }
}
