# Ignore files not managed by ourselves
client/app/resources/*
client/app/test/*
**/bower_components/*

# Ignore modules
client/app/exchange/*
client/app/emailpro/*
client/app/sharepoint/*
client/app/office/*