# COMMON
*~
tmp
.idea
.baseDir.ts
.DS_Store
.setting/
node_modules/
bower_components/
bower_cache/
bower_tmp/
tools
dist/
dist-CA/
dist-EU/
package-lock.json
test-reports/
test-reports.tar.gz
*_flymake.js
.sass-cache
