# COMMON
*~
tmp
.idea
.baseDir.ts
.DS_Store
.setting/
node_modules/
bower_components/
bower_cache/
bower_tmp/
tools
dist/
dist-CA/
dist-EU/
client/app/index.html
client/app/login.html
client/app/auth.html
client/app/doubleAuthentication.html
client/app/resources/i18n/*/*.json
client/**/translations/*.json
client/**/**/translations/*.json
client/app/resources/angular/i18n/
client/app/components/ovh-utils-angular/
client/app/css/fonts
client/app/css/icons
client/app/css/main.css
client/app/css/main-scss.css
client/app/css/main-scss.css.map
test-reports/
test-reports.tar.gz
*_flymake.js
.sass-cache
server/certificate/server.crt
server/certificate/server.csr
server/certificate/server.key

# MODULE EXCHANGE
client/app/exchange/
client/app/resources/i18n/exchange/
client/app/css/exchange/
client/assets/images/exchange/

# MODULE SHAREPOINT
client/app/sharepoint/
client/app/resources/i18n/sharepoint/
client/app/css/sharepoint/
client/assets/images/sharepoint/

# MODULE EMAILPRO
client/app/css/emailpro/
client/app/emailpro/
client/app/resources/i18n/emailpro/
client/assets/images/emailpro/

# MODULE OTRS
client/app/otrs/
client/app/resources/i18n/otrs/
client/assets/images/otrs/

# MODULE SUPPORT
client/assets/images/support/

# MODULE MICROSOFT
client/app/microsoft/
client/assets/images/microsoft/
client/app/resources/i18n/microsoft/
client/app/css/microsoft/
