.sharepoint-container {
    padding-top:30px;
}
.icon-sharepoint {
  width: 20px;
  height: 21px;
  background: transparent url(../assets/images/left_menu/icn_sharepoint.png) no-repeat 0 100% !important;
  vertical-align: middle;
}
.icon-sharepoint:hover {
  background-position: 0 0;
}
