<div data-ng-controller="DomainZoneRecordDeleteCtrl as ctrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="deleteDnsEntry"
         data-wizard-title="i18n.domain_configuration_dns_entry_delete_title">

        <div data-wizard-step>
            <p data-ng-if="ctrl.massDelete" data-ng-bind-html="trpl('domain_configuration_dns_entry_mass_delete_step1_question', ctrl.entryToDelete.length)"></p>

            <div data-ng-if="!ctrl.massDelete">
                <p data-ng-bind-html="tr('domain_configuration_dns_entry_delete_step1_question', [ctrl.domain.displayName])"></p>

                <dl class="dl-horizontal dl-lg">
                    <dt data-i18n-static="domain_configuration_dns_entry_delete_step1_type"></dt>
                    <dd data-ng-bind="ctrl.entryToDelete.fieldTypeFormatted"></dd>

                    <dt data-i18n-static="domain_configuration_dns_entry_delete_step1_subdomain"></dt>
                    <dd data-ng-show="ctrl.entryToDelete.subDomain" data-ng-bind="ctrl.entryToDelete.subDomain + '.' + ctrl.entryToDelete.zoneToDisplay"></dd>
                    <dd data-ng-show="!ctrl.entryToDelete.subDomain" data-ng-bind="ctrl.entryToDelete.zoneToDisplay"></dd>

                    <dt data-i18n-static="domain_configuration_dns_entry_delete_step1_target"></dt>
                    <dd data-ng-bind="ctrl.entryToDelete.targetToDisplay"></dd>
                </dl>
            </div>
        </div>
    </div>
</div>
