<div data-ng-controller="DomainsRenewCtrl as ctrlDomainsRenew">
    <div data-wizard
         data-wizard-confirm-button-text="i18n.wizard_order"
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="displayBC"
         data-wizard-title="i18n.domains_configuration_renew_title + ' (' + ctrlDomainsRenew.domainsToRenew.length + ')'">

        <div data-wizard-step
             data-wizard-step-valid="ctrlDomainsRenew.domainsToRenew.length > 0">

            <div data-ng-if="ctrlDomainsRenew.domainsToRenew">
                <p data-ng-bind-html="tr('domains_configuration_renew_step1_question')"></p>
                <p class="mb-5">
                    <strong data-i18n-static="domains_configuration_renew_step1_confirmation"></strong><br>
                    <span data-i18n-static="domains_configuration_renew_step1_information"></span>
                </p>
                <div class="alert alert-info" role="alert"
                     data-i18n-static="domains_configuration_renew_step1_alert">
                </div>
            </div>

            <p data-ng-if="!ctrlDomainsRenew.domainsToRenew"
               data-i18n-static="domains_configuration_renew_step1_no_selected_domains"></p>
        </div>
    </div>
</div>
