<div data-ng-controller="HostingUserLogsModifyCtrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="modifyUser"
         data-wizard-title="i18n.hosting_tab_USER_LOGS_configuration_user_modify_title">

        <div data-wizard-step>
            <p data-i18n-static="hosting_tab_USER_LOGS_configuration_user_modify_step1_question"></p>

            <form class="form-horizontal" name="hostingUserModifyForm">
                <div class="form-group">
                    <label class="control-label col-md-4" for="hostingUserModifyLogin"
                           data-i18n-static="hosting_tab_USER_LOGS_configuration_user_modify_step1_user"></label>
			        <div class="col-md-6">
                        <input type="text" class="form-control" id="hostingUserModifyLogin" readonly
                               data-ng-model="model.user.login">
			        </div>
		        </div>
		        <div class="form-group">
                    <label class="control-label col-md-4" for="hostingUserModifyDesc"
                           data-i18n-static="hosting_tab_USER_LOGS_configuration_user_modify_step1_desc_label"></label>
                    <div class="col-md-6">
                        <textarea class="form-control" id="hostingUserModifyDesc" rows="5"
                                  data-ng-model="model.user.description"></textarea>
                    </div>
                </div>
            </form>
        </div>

        <div data-wizard-step>
            <p data-i18n-static="hosting_tab_USER_LOGS_configuration_user_modify_step2_question"></p>
            <dl class="dl-horizontal dl-lg">
                <dt data-i18n-static="hosting_tab_USER_LOGS_configuration_user_modify_step2_user"></dt>
                <dd data-ng-bind="model.user.login"></dd>

                <dt data-i18n-static="hosting_tab_USER_LOGS_configuration_user_modify_step2_desc_label"></dt>
                <dd data-ng-bind="model.user.description"></dd>
            </dl>
        </div>
    </div>
</div>
