<div data-ng-controller="DomainDnsAnycastActivateCtrl as ctrl">
    <div data-wizard
         data-wizard-bread-crumb
         data-wizard-confirm-button-text="i18n.wizard_pay"
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="displayBC"
         data-wizard-title="i18n.domain_configuration_dnsanycast_title">

        <div data-wizard-step
             data-wizard-step-valid="!ctrl.loading">

            <div class="text-center" data-ng-if="ctrl.loading">
                <oui-loader inline="true"></oui-loader>
            </div>

            <div data-ng-if="!ctrl.loading">
                <p data-ng-bind-html="i18n.domain_configuration_dnsanycast_step1_explanation"></p>
                <p>
                    <span data-ng-bind-html="tr('domain_configuration_dnsanycast_step1_explanation2', ['<strong>' + ctrl.optionDetails.withoutTax + '</strong>'])"></span>
                    <span data-i18n-static="domain_configuration_dnsanycast_step1_explanation3"></span>
                </p>
                <p data-ng-bind="i18n.domain_configuration_dnsanycast_step1_question"></p>
            </div>
        </div>

        <div data-wizard-step
             data-wizard-step-valid="ctrl.contractsValidated">

            <p data-ng-bind-html="tr('domain_configuration_dnsanycast_step2_question', [ctrl.domainName])"></p>
            <dl class="dl-horizontal dl-lg">
                <dt data-i18n-static="domain_configuration_dnsanycast_step2_totalHT"></dt>
                <dd data-ng-bind="ctrl.optionDetails.withoutTax"></dd>
                <dt data-i18n-static="domain_configuration_dnsanycast_step2_totalTTC"></dt>
                <dd data-ng-bind="ctrl.optionDetails.withTax"></dd>
            </dl>
            <p class="mb-3" data-i18n-static="domain_configuration_dnsanycast_step2_id"></p>
            <div class="oui-checkbox">
                <input type="checkbox" class="oui-checkbox__input" name="contractsValidated" id="contractsValidated"
                       data-ng-model="ctrl.contractsValidated">
                <label class="oui-checkbox__label-container" for="contractsValidated">
                    <span class="oui-checkbox__label">
                        <span data-i18n-static="domain_configuration_dnsanycast_step2_contracts"></span>
                        <span data-ng-repeat="contract in ctrl.optionDetails.contracts track by $index">
                            <span data-i18n-static="domain_configuration_dnsanycast_step2_contracts_and"
                                  data-ng-if="!$last"></span>
                            <span data-i18n-static="domain_configuration_dnsanycast_step2_contracts_of"></span>
                            <a data-ng-href="{{contract.url}}" target="_blank" title="{{contract.name}} ({{i18n.common_newtab}})"
                               data-ng-bind="contract.name"></a><span data-ng-if="!$last">, </span><span data-ng-if="$last">.</span>
                        </span>
                    </span>
                    <span class="oui-checkbox__icon">
                        <span class="oui-icon oui-icon-checkbox-unchecked" aria-hidden="true"></span>
                        <span class="oui-icon oui-icon-checkbox-checked" aria-hidden="true"></span>
                        <span class="oui-icon oui-icon-checkbox-checkmark" aria-hidden="true"></span>
                    </span>
                </label>
            </div>
        </div>

        <div data-wizard-step
             data-wizard-step-on-load="orderDnsanycast"
             data-wizard-step-valid="ctrl.url">

            <div class="text-center" data-ng-if="ctrl.loading">
                <oui-loader inline="true"></oui-loader>
                <p data-i18n-static="domain_configuration_dnsanycast_step3_generation_bc"></p>
            </div>

            <div data-ng-if="!ctrl.loading && ctrl.url">
                <p class="text-success"
                   data-i18n-static="domain_configuration_dnsanycast_step3_bc"></p>
                <p>
                    <strong data-i18n-static="domain_configuration_dnsanycast_step3_continue"></strong>
                    <span data-i18n-static="domain_configuration_dnsanycast_step3_explication1"></span>
                </p>
                <div class="alert alert-info" role="alert">
                    <div>
                        <span data-i18n-static="domain_configuration_dnsanycast_step3_explication2"></span>
                        <span data-i18n-static="domain_configuration_dnsanycast_step3_explication3"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
