<div data-ng-controller="HostingUserLogsUpdatePasswordCtrl as ctrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="updatePassword"
         data-wizard-title="i18n.hosting_tab_USER_LOGS_configuration_change_password_title">

        <div data-wizard-step
             data-wizard-step-valid="ctrl.isPasswordValid()">
            <p class="word-break"
               data-ng-bind-html="tr('hosting_tab_USER_LOGS_configuration_change_password_step1_question', ['<strong>' + ctrl.login + '</strong>'])"></p>

            <form class="form-horizontal" name="hostingUserChangePasswordForm">
                <div class="form-group"
                     data-ng-class="{'has-error': hostingUserChangePasswordForm.password.$dirty && (hostingUserChangePasswordForm.password.$invalid || ctrl.isPasswordInvalid())}">
                    <label class="control-label col-md-4 required" for="hostingUserChangePasswordPassword"
                           data-i18n-static="hosting_tab_USER_LOGS_configuration_change_password_step1_password"></label>
                    <div class="col-md-6">
                        <input type="password" autocomplete="off" class="form-control" id="hostingUserChangePasswordPassword" name="password" required
                               data-ng-minlength="{{ctrl.condition.min}}"
                               data-ng-maxlength="{{ctrl.condition.max}}"
                               data-ng-model="ctrl.password.value">
                    </div>
                </div>
                <div class="form-group"
                     data-ng-class="{'has-error': hostingUserChangePasswordForm.passwordConfirm.$dirty && (hostingUserChangePasswordForm.passwordConfirm.$invalid || ctrl.isPasswordConfirmationInvalid())}">
                    <label class="control-label col-md-4 required" for="hostingUserChangePasswordPasswordConfirm"
                           data-i18n-static="hosting_tab_USER_LOGS_configuration_change_password_step1_confirmation"></label>
                    <div class="col-md-6">
                        <input type="password" autocomplete="off" class="form-control" id="hostingUserChangePasswordPasswordConfirm" name="passwordConfirm" required
                               data-ng-minlength="{{ctrl.condition.min}}"
                               data-ng-maxlength="{{ctrl.condition.max}}"
                               data-ng-model="ctrl.password.confirmation">
                        <small class="help-block" data-i18n-static="hosting_tab_USER_LOGS_configuration_change_password_step1_error"
                               data-ng-if="ctrl.shouldDisplayDifferentPasswordMessage()"></small>
                    </div>
                </div>
            </form>

            <div class="row">
                <small class="col-md-8 col-md-offset-4"
                       data-ng-bind-html="tr('hosting_common_password_conditions', [ctrl.condition.min, ctrl.condition.max])"></small>
            </div>
        </div>
    </div>
</div>
