<div data-ng-controller="HostingDatabaseChangePasswordCtrl as ctrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="updatePassword"
         data-wizard-title="i18n.hosting_tab_DATABASES_configuration_update_password_title">

        <div data-wizard-step
            data-wizard-step-valid="ctrl.isPasswordValid()">

            <p data-ng-bind-html="tr('hosting_tab_DATABASES_configuration_update_password_question', ['<strong>' + ctrl.databaseName + '</strong>'])"></p>

            <form class="form-horizontal" name="ctrl.hostingDatabaseChangePasswordForm">
                <div class="form-group"
                     data-ng-class="{'has-error': ctrl.hostingDatabaseChangePasswordForm.password.$dirty && ctrl.isPasswordInvalid()}">
                    <label class="control-label col-md-4 required" for="password"
                           data-i18n-static="hosting_tab_DATABASES_configuration_update_password_password"></label>
                    <div class="col-md-6">
                        <input type="password" class="form-control" id="password" name="password" autocomplete="off" required
                               data-ng-model="ctrl.password.value">
                    </div>
                </div>

                <div class="form-group"
                     data-ng-class="{'has-error': ctrl.hostingDatabaseChangePasswordForm.passwordConfirm.$dirty && ctrl.isPasswordConfirmationInvalid()}">
                    <label class="control-label col-md-4 required" for="passwordConfirm"
                           data-i18n-static="hosting_tab_DATABASES_configuration_update_password_confirmation"></label>
                    <div class="col-md-6">
                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" autocomplete="off" required
                               data-ng-model="ctrl.password.confirmation">
                        <small class="help-block"
                               data-i18n-static="hosting_tab_DATABASES_configuration_update_password_error"
                               data-ng-if="ctrl.shouldDisplayDifferentPasswordMessage()"></small>
                    </div>
                </div>

                <div class="row">
                    <small class="col-md-8 col-md-offset-4"
                           data-ng-bind-html="tr('hosting_common_password_conditions', [ctrl.condition.min, ctrl.condition.max])"></small>
                </div>
            </form>
        </div>
    </div>
</div>
