<div data-ng-controller="HostingUserLogsCreateCtrl">
    <div data-wizard
         data-wizard-bread-crumb
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="createUser"
         data-wizard-title="i18n.hosting_tab_USER_LOGS_configuration_user_create_title">

        <div data-wizard-step
             data-wizard-step-valid="isStep1Valid()">
            <p data-ng-bind-html="tr('hosting_tab_USER_LOGS_configuration_user_create_step1_question')"></p>

            <form class="form-horizontal mt-5" name="hostingUserCreateForm">
                <div class="form-group" data-ng-class="{'has-error': hostingUserCreateForm.hostingUserCreateLogin.$dirty && !isUserValid()}">
                    <label class="control-label col-md-4 required" for="hostingUserCreateLogin"
                           data-i18n-static="hosting_tab_USER_LOGS_configuration_user_create_step1_user">
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="hostingUserCreateLogin" name="hostingUserCreateLogin" maxlength="200" required
                               data-ng-minlength="{{model.minUserLength}}"
                               data-ng-maxlength="{{model.maxUserLength}}"
                               data-ng-model="model.selected.login">
                        <small class="help-block"
                               data-i18n-static="hosting_tab_USER_LOGS_configuration_user_create_step1_user_error"
                               data-ng-if="model.selected.login && !isUserValid()"></small>
                        <span class="d-block mt-2"
                              data-ng-bind="tr('hosting_tab_USER_LOGS_configuration_user_create_step1_user_condition', [model.minUserLength, model.maxUserLength])"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="hostingUserLogsCreateDesc"
                           data-i18n-static="hosting_tab_USER_LOGS_configuration_user_create_step1_desc_label">
                    </label>
                    <div class="col-md-6">
                        <textarea class="form-control" id="hostingUserLogsCreateDesc" rows="5"
                                  data-ng-model="model.selected.description"></textarea>
                    </div>
                </div>
            </form>
        </div>

        <div data-wizard-step
             data-wizard-step-valid="isPasswordValid()">
            <p data-i18n-static="hosting_tab_USER_LOGS_configuration_user_create_step2_password_question"></p>

            <form class="form-horizontal" name="hostingUserCreateForm">
                <div class="form-group" data-ng-class="{'has-error': hostingUserCreateForm.hostingUserCreatePassword.$dirty && (hostingUserCreateForm.hostingUserCreatePassword.$invalid || isPasswordInvalid())}">
                    <label class="control-label col-md-4 required" for="hostingUserCreatePassword"
                           data-i18n-static="hosting_tab_USER_LOGS_configuration_user_create_step2_password_password"></label>
                    <div class="col-md-6">
                        <input type="password" autocomplete="off" class="form-control" id="hostingUserCreatePassword" name="hostingUserCreatePassword" required
                               data-ng-minlength="{{condition.min}}"
                               data-ng-maxlength="{{condition.max}}"
                               data-ng-model="model.selected.password.value">
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error': hostingUserCreateForm.hostingUserCreatePasswordConfirm.$dirty && (hostingUserCreateForm.hostingUserCreatePasswordConfirm.$invalid || isPasswordConfirmationInvalid())}">
                    <label class="control-label col-md-4 required" for="hostingUserCreatePasswordConfirm"
                           data-i18n-static="hosting_tab_USER_LOGS_configuration_user_create_step2_password_confirmation"></label>
                    <div class="col-md-6">
                        <input type="password" autocomplete="off" class="form-control" id="hostingUserCreatePasswordConfirm" name="hostingUserCreatePasswordConfirm" required
                               data-ng-minlength="{{condition.min}}"
                               data-ng-maxlength="{{condition.max}}"
                               data-ng-model="model.selected.password.confirmation">
                        <small class="help-block"
                               data-i18n-static="hosting_tab_USER_LOGS_configuration_user_create_step2_password_error"
                               data-ng-if="shouldDisplayDifferentPasswordMessage()"></small>
                    </div>
                </div>
            </form>

            <div class="row">
                <small class="col-md-8 col-md-offset-4" data-ng-bind-html="tr('hosting_common_password_conditions', [condition.min, condition.max])"></small>
            </div>
        </div>


        <div data-wizard-step>
            <p data-i18n-static="hosting_tab_USER_LOGS_configuration_user_create_step3_question"></p>
            <dl class="dl-horizontal dl-lg">
                <dt data-i18n-static="hosting_tab_USER_LOGS_configuration_user_create_step3_user"></dt>
                <dd data-ng-bind="model.selected.login"></dd>

                <dt data-i18n-static="hosting_tab_USER_LOGS_configuration_user_create_step3_desc_label"
                    data-ng-if="model.selected.description"></dt>
                <dd data-ng-bind="model.selected.description"
                    data-ng-if="model.selected.description"></dd>
            </dl>
        </div>
    </div>
</div>
