<div class="lightbulb-guide oui-tile mb-5" data-ng-if="!!guideConfiguration && guideConfiguration.length > 0">
    <h3 class="oui-header__title" data-ng-bind="guidesTitle"></h3>
    <div data-ng-repeat="guideSection in guideConfiguration track by $index">
        <button type="button" class="btn btn-block d-flex" data-ng-click="toggleGuides($index)"
                data-ng-class="{ 'showGuidesStatus': item.active }">
            <span data-ng-bind="tr(guideSection.title)"></span>
            <span data-ng-show="showGuidesStatus[$index]" class="fa fa-chevron-up my-auto ml-auto"></span>
            <span data-ng-show="!showGuidesStatus[$index]" class="fa fa-chevron-down my-auto ml-auto"></span>
        </button>

        <div class="animated fadeIn mt-3" data-ng-show="showGuidesStatus[$index]">
            <p data-ng-if="!!guideSection.description" data-ng-bind="tr(guideSection.description)"></p>
            <ul class="list-unstyled">
                <li data-ng-repeat="guideDocument in guideSection.list track by $index">
                    <a class="d-block mb-2" target="_blank"
                       data-ng-href="{{ guideDocument.url }}" title="{{tr(guideDocument.title)}} ({{tr('core_new_window')}})">
                        <span data-ng-bind="tr(guideDocument.title)"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
