@import "bower_components/ovh-ui-kit/packages/oui-color/_constants";

@bs-path: "bower_components/bootstrap";
@oui-path: "bower_components/ovh-ui-kit";

@import "bower_components/ovh-ui-kit-bs/src/ovh-ui-kit-bs";

@oui-icon-dist-folder: "../bower_components/ovh-ui-kit/dist/icons";

@import "bower_components/ovh-angular-actions-menu/less/ovh-angular-actions-menu";
@import "bower_components/ovh-angular-otrs/dist/ovh-angular-otrs";
@import 'bower_components/ovh-manager-webfont/dist/less/ovh-font';

@import "utils/variables";
@import "utils/function";
@import "utils/elements";

@import "common/animation";
@import "common/autocomplete";
@import "common/button";
@import "common/countryIcon";
@import "common/datePicker";
@import "common/distributionIcon";
@import "common/global";
@import "common/graphicalTools";
@import "common/icon";
@import "common/incident";
@import "common/linkedPopover";
@import "common/microsoft";
@import "common/navbar";
@import "common/progress";
@import "common/selectList";
@import "common/switch";
@import "common/textInput";
@import "common/tooltip";
@import "common/v6-ui-switch";
@import "common/wizard";

@import "module/emails/emails";
@import "module/modules/modules";

@import "../components/pagination-front/pagination-front";
@import "../components/incrementNumber/incrementNumber";
@import "../components/guides/guides";
@import "../components/manager-preload/manager-preload";
@import "../components/sidebar-menu/sidebar-menu";

@ovh-font-path: "../bower_components/ovh-manager-webfont/dist/fonts";
@ovh-universe-color: @oui-color-jungle;
