@import "node_modules/ovh-ui-kit/packages/oui-color/_constants";

@bs-path: "./node_modules/@bower_components/bootstrap";
@oui-path: "./node_modules/ovh-ui-kit";
@import "node_modules/ovh-ui-kit-bs/src/ovh-ui-kit-bs";

@import "./node_modules/@bower_components/ovh-angular-manager-navbar/less/ovh-angular-manager-navbar";
@import "./node_modules/@bower_components/ovh-angular-actions-menu/less/ovh-angular-actions-menu";
@import "./node_modules/@bower_components/ovh-angular-otrs/dist/ovh-angular-otrs";
@import './node_modules/@bower_components/ovh-manager-webfont/dist/less/ovh-font';

@import "utils/variables";
@import "utils/function";
@import "utils/elements";
@import "utils/utilities";

@import "common/animation";
@import "common/autocomplete";
@import "common/button";
@import "common/buttonToggle";
@import "common/countryIcon";
@import "common/datePicker";
@import "common/distributionIcon";
@import "common/dropdown";
@import "common/global";
@import "common/graphicalTools";
@import "common/icon";
@import "common/incident";
@import "common/informationBlock";
@import "common/loader";
@import "common/orderResume";
@import "common/progress";
@import "common/progressBarWithText";
@import "common/progressBarExtraStyles";
@import "common/selectList";
@import "common/serviceIcon";
@import "common/switch";
@import "common/tabs";
@import "common/v6-ui-switch";
@import "common/wizard";

@import "module/domain/domains";
@import "module/emails/emails";
@import "module/hosting/database";
@import "module/hosting/hosting";
@import "module/mailing_list/mailing_list";
@import "module/modules/modules";
@import "module/private_database/private_database";



@import "module/website/website";

@import "../components/pagination-front/pagination-front";
@import "../components/incrementNumber/incrementNumber";
@import "../components/tabs/tabs";
@import "../components/guides/guides";
@import "../components/manager-preload/manager-preload";
@import "../components/sidebar-menu/sidebar-menu";
@import "../components/ovh-angular-otrs/ovh-angular-otrs";

@import "./bootstrap/_popover";
@import "./bootstrap/_table";
@import "./bootstrap/_utilities";

@import "./ovh-ui-kit/icon";

@ovh-font-path:'../bower_components/ovh-manager-webfont/dist/fonts';

#manager-navbar {
    min-height: auto;
    position: relative;
    top: inherit;
    left: inherit;
    right: inherit;
    z-index: inherit;
}
