<div data-ng-controller="HostingFrameworkEnvvarCtrl as ctrlEnvvar">
    <oui-back-button on-click="goToRuntimeList()" data-title="{{ i18n.common_back }}" data-ng-disabled="ctrlEnvvar.loading"></oui-back-button>

    <h6 data-i18n-static="hosting_tab_FRAMEWORK_envvar_list" class="py-3"></h6>

    <div data-ng-if="ctrlEnvvar.loading">
        <oui-spinner data-size="m"></oui-spinner>
    </div>

    <oui-datagrid data-ng-if="!ctrlEnvvar.loading" data-rows="ctrlEnvvar.envvars" row-loader="ctrlEnvvar.getEnvvar($row)" page-size="10">
        <oui-column data-title="tr('hosting_tab_FRAMEWORK_envvar_table_header_key')" data-property="key" data-sortable="asc" data-type="string" searchable filterable></oui-column>
        <oui-column data-title="tr('hosting_tab_FRAMEWORK_envvar_table_header_type')" data-property="type" data-type="string" searchable filterable></oui-column>
        <oui-column data-title="tr('hosting_tab_FRAMEWORK_envvar_table_header_value')" data-property="value" data-type="string" searchable filterable></oui-column>
        <oui-column data-title="tr('hosting_tab_FRAMEWORK_envvar_table_header_status')" data-property="status" sortable>
            <span class="label"
                data-ng-bind="tr('hosting_tab_FRAMEWORK_table_status_' + $row.status)"
                data-ng-class="{
                    'label-success': $row.status === 'created',
                    'label-danger': $row.status === 'deleting',
                    'label-warning': $row.status !== 'created' && $row.status !== 'deleting'
                }">
            </span>
        </oui-column>

        <oui-action-menu align="end" compact>
            <oui-action-menu-item
                data-text="{{ i18n.hosting_tab_FRAMEWORK_envvar_table_popover_modify }}"
                data-on-click="setAction('framework/envvar/edit/hosting-framework-envvar-edit', { envvar: $row })"
                data-disabled="$row.status !== 'created'">
            </oui-action-menu-item>

            <oui-action-menu-item
                data-text="{{ i18n.hosting_tab_FRAMEWORK_envvar_table_popover_delete }}"
                data-on-click="setAction('framework/envvar/delete/hosting-framework-envvar-delete', { envvar: $row })"
                data-disabled="$row.status !== 'created'">
            </oui-action-menu-item>
        </oui-action-menu>

        <extra-top>
            <oui-action-menu data-text="{{ i18n.hosting_tab_FRAMEWORK_envvar_actions }}" align="start">
                <oui-action-menu-item
                    data-text="{{ i18n.hosting_tab_FRAMEWORK_envvar_add }}"
                    data-on-click="setAction('framework/envvar/add/hosting-framework-envvar-add')"
                    data-disabled="!ctrlEnvvar.canAddEnvvar()">
                </oui-action-menu-item>
            </oui-action-menu>
        </extra-top>
    </oui-datagrid>
</div>
