<div class="popover-menu">
    <button class="btn btn-link" type="button"
            data-i18n-static="privateDatabase_action_dump_now"
            data-ng-click="listCtrl.dumpBDD(bdd)"
            data-ng-disabled="bdd.waitDump || bdd.waitRestore">
    </button>
    <button class="btn btn-link" type="button"
            data-i18n-static="privateDatabase_action_import_from_file"
            data-ng-click="listCtrl.importFromFile(bdd)"
            data-ng-disabled="bdd.waitDump || bdd.waitRestore">
    </button>
    <button class="btn btn-link" type="button"
            data-i18n-static="privateDatabase_action_users"
            data-ng-click="goToUsersByDb(bdd)"
            data-ng-disabled="bdd.waitDump || bdd.waitRestore">
    </button>
    <button class="btn btn-link" type="button"
            data-i18n-static="privateDatabase_action_deleteBDD"
            data-ng-click="setAction('database/delete/private-database-database-delete', bdd)"
            data-ng-disabled="bdd.waitDump || bdd.waitRestore">
    </button>
    <button class="btn btn-link" type="button"
            data-i18n-static="privateDatabase_action_list_dumps"
            data-ng-click="goToDumps(bdd)">
    </button>
    <button class="btn btn-link" type="button"
            data-ng-if="database.infrastructure === 'legacy'"
            data-ng-click="addCron({'databaseName': bdd.databaseName})"
            data-i18n-static="privateDatabase_action_scheduleDumpBDD">
    </button>
</div>
