<form class="form-horizontal" name="ctrl.zoneRecordForm">

    <p data-ng-bind="tr('domain_configuration_dns_entry_add_spf_ovh_title', ctrl.domain.displayName)"></p>
    <code data-ng-bind="ctrl.domain.displayName + '. IN TXT &quot;v=spf1 include:mx.ovh.com ~all&quot;'"></code>
    <div class="mt-3">
        <button class="btn btn-default" type="button"
                data-i18n-static="domain_configuration_dns_entry_add_spf_ovh_btn"
                data-ng-click="ctrl.useSpfOvh()"></button>
    </div>

    <div class="mt-5" data-ng-include="'domain/zone/record/header.html'"></div>

    <fieldset class="mt-4">
        <span data-ng-bind="tr('domain_configuration_dns_entry_add_spf_a_title', ctrl.domain.displayName)"></span>
        <div class="col-md-9 col-md-offset-3">

            <div class="oui-radio_inline">
                <oui-radio text="{{::tr('common_yes')}}"
                        on-change="ctrl.model.target.aSender = true; ctrl.setTargetValue('SPF')"
                        model="ctrl.model.target.aSender"
                        name="spf-sender"
                        value="true">
                </oui-radio>
            </div>

            <div class="oui-radio_inline ml-4">
                <oui-radio text="{{::tr('common_no')}}"
                        on-change="ctrl.model.target.aSender = false; ctrl.setTargetValue('SPF')"
                        model="ctrl.model.target.aSender"
                        name="spf-sender"
                        value="false">
                </oui-radio>
            </div>
        </div>
    </fieldset>

    <fieldset class="mt-4">
        <span data-ng-bind="tr('domain_configuration_dns_entry_add_spf_mx_title', ctrl.domain.displayName)"></span>
        <div class="col-md-9 col-md-offset-3">

            <div class="oui-radio_inline">
                <oui-radio text="{{::tr('common_yes')}}"
                        on-change="ctrl.model.target.mxSender = true; ctrl.setTargetValue('SPF')"
                        model="ctrl.model.target.mxSender"
                        name="spf-mx"
                        value="true">
                </oui-radio>
            </div>

            <div class="oui-radio_inline ml-4">
                <oui-radio text="{{::tr('common_no')}}"
                        on-change="ctrl.model.target.mxSender = false; ctrl.setTargetValue('SPF')"
                        model="ctrl.model.target.mxSender"
                        name="spf-mx"
                        value="false">
                </oui-radio>
            </div>
        </div>
    </fieldset>

    <fieldset class="mt-4">
        <span data-ng-bind="tr('domain_configuration_dns_entry_add_spf_ptr_title', ctrl.domain.displayName)"></span>
        <div class="col-md-9 col-md-offset-3">

            <div class="oui-radio_inline">
                <oui-radio text="{{::tr('common_yes')}}"
                        on-change="setPtrSender(true)"
                        model="ctrl.model.target.ptrSender"
                        name="spf-ptr"
                        value="true">
                </oui-radio>
            </div>

            <div class="oui-radio_inline ml-4">
                <oui-radio text="{{::tr('common_no')}}"
                        on-change="setPtrSender(false)"
                        model="ctrl.model.target.ptrSender"
                        name="spf-ptr"
                        value="false">
                </oui-radio>
            </div>
        </div>
    </fieldset>

    <fieldset class="mt-4">
        <span data-ng-bind="tr('domain_configuration_dns_entry_add_spf_fields_title', ctrl.domain.displayName)"></span>
        <div class="form-group mt-2" data-ng-class="{ 'has-error': ctrl.zoneRecordForm.a.$dirty && ctrl.zoneRecordForm.a.$invalid }">
            <label class="control-label col-md-3" for="a">a:</label>
            <div class="col-md-8">
                <textarea class="form-control" id="a" name="a"
                          data-ng-change="ctrl.checkSpfField(ctrl.zoneRecordForm.a, 'a'); ctrl.setTargetValue('SPF')"
                          data-ng-model="ctrl.model.target.a"></textarea>
            </div>
        </div>
        <div class="form-group mt-2" data-ng-class="{ 'has-error': ctrl.zoneRecordForm.mx.$dirty && ctrl.zoneRecordForm.mx.$invalid }">
            <label class="control-label col-md-3" for="mx">mx:</label>
            <div class="col-md-8">
                <textarea class="form-control" id="mx" name="mx"
                          data-ng-change="ctrl.checkSpfField(ctrl.zoneRecordForm.mx, 'mx'); ctrl.setTargetValue('SPF')"
                          data-ng-model="ctrl.model.target.mx"></textarea>
            </div>
        </div>
        <div class="form-group mt-2" data-ng-class="{ 'has-error': ctrl.zoneRecordForm.ptr.$dirty && ctrl.zoneRecordForm.ptr.$invalid }">
            <label class="control-label col-md-3" for="ptr">ptr:</label>
            <div class="col-md-8">
                <textarea class="form-control" id="ptr" name="ptr"
                          data-ng-change="ctrl.checkSpfField(ctrl.zoneRecordForm.ptr, 'ptr'); ctrl.setTargetValue('SPF')"
                          data-ng-model="ctrl.model.target.ptr"></textarea>
            </div>
        </div>
        <div class="form-group mt-2" data-ng-class="{ 'has-error': ctrl.zoneRecordForm.ip4.$dirty && ctrl.zoneRecordForm.ip4.$invalid }">
            <label class="control-label col-md-3" for="ip4">ip4:</label>
            <div class="col-md-8">
                <textarea class="form-control" id="ip4" name="ip4"
                          data-ng-change="ctrl.checkSpfField(ctrl.zoneRecordForm.ip4, 'ip4'); ctrl.setTargetValue('SPF')"
                          data-ng-model="ctrl.model.target.ip4"></textarea>
            </div>
        </div>
        <div class="form-group mt-2" data-ng-class="{ 'has-error': ctrl.zoneRecordForm.ip6.$dirty && ctrl.zoneRecordForm.ip6.$invalid }">
            <label class="control-label col-md-3" for="ip6">ip6:</label>
            <div class="col-md-8">
                <textarea class="form-control" id="ip6" name="ip6"
                          data-ng-change="ctrl.checkSpfField(ctrl.zoneRecordForm.ip6, 'ip6'); ctrl.setTargetValue('SPF')"
                          data-ng-model="ctrl.model.target.ip6"></textarea>
            </div>
        </div>
    </fieldset>

    <fieldset class="mt-4">
        <span data-ng-bind="tr('domain_configuration_dns_entry_add_spf_others_title', ctrl.domain.displayName)"></span>
        <div class="form-group mt-2" data-ng-class="{ 'has-error': ctrl.zoneRecordForm.include.$dirty && ctrl.zoneRecordForm.include.$invalid }">
            <label class="control-label col-md-3" for="include">include:</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="include" name="include" maxlength="255"
                       data-ng-change="ctrl.checkSpfField(ctrl.zoneRecordForm.include, 'include'); ctrl.setTargetValue('SPF')"
                       data-ng-maxlength="255"
                       data-ng-model="ctrl.model.target.include">
            </div>
        </div>
    </fieldset>

    <fieldset class="mt-4">
        <span data-ng-bind="tr('domain_configuration_dns_entry_add_spf_all_title', ctrl.domain.displayName)"></span>
        <div class="col-md-9 col-md-offset-3">

            <oui-radio text="{{::tr('domain_configuration_dns_entry_add_spf_all_title_yes')}}"
                    on-change="ctrl.changeTarget('-')"
                    model="ctrl.model.target.all"
                    name="spf-all"
                    value="'-all'">
            </oui-radio>
            <oui-radio text="{{::tr('domain_configuration_dns_entry_add_spf_all_title_safe')}}"
                    on-change="ctrl.changeTarget('~')"
                    model="ctrl.model.target.all"
                    name="spf-all"
                    value="'~all'">
            </oui-radio>
            <oui-radio text="{{::tr('domain_configuration_dns_entry_add_spf_all_title_no')}}"
                    on-change="ctrl.changeTarget('?')"
                    model="ctrl.model.target.all"
                    name="spf-all"
                    value="'?all'">
            </oui-radio>
        </div>
    </fieldset>

    <div class="mt-2" data-ng-include="'domain/zone/record/bottom.html'"></div>
</form>
