<div class="popover-menu">
    <button class="btn btn-link" type="button"
            data-translate="email_tab_popover_update_account"
            data-ng-click="setAction('email-domain/email/account/update/email-domain-email-account-update', email)">
    </button>
    <button class="btn btn-link" type="button"
            data-translate="email_tab_popover_change_password_account"
            data-ng-click="setAction('email-domain/email/account/change-password/email-domain-email-account-change-password', email)">
    </button>
    <button class="btn btn-link" type="button"
            data-translate="email_tab_popover_delete_account"
            data-ng-click="setAction('email-domain/email/account/delete/email-domain-email-account-delete', email)">
    </button>
    <button class="btn btn-link" type="button"
            data-translate="email_tab_popover_delegate"
            data-ng-click="setAction('email-domain/email/delegate/email-domain-email-delegate', email)">
    </button>
    <button class="btn btn-link" type="button"
            data-translate="email_tab_popover_migrate"
            data-ng-click="ctrlEmailDomainEmail.displayAccountMigration(email)">
    </button>
</div>
