<div data-ng-controller="PrivateDatabaseArchiveListCtrl as archiveListCtrl">
    <div data-ovh-alert="{{alerts.main}}"></div>

    <button class="oui-button oui-button_link oui-button_icon-left" type="button"
            data-ng-click="goToList()">
        <span class="oui-icon oui-icon-chevron-left" aria-hidden="true"></span>
        <span data-translate="common_back"></span>
    </button>

    <h2 data-ng-bind-html="'privateDatabase_tabs_dumps_archive_change' | translate: { t0: nbDayToDelete }"></h2>

    <oui-datagrid data-rows="archiveListCtrl.deletedDbList">
        <oui-column data-title="'privateDatabase_bdd_name' | translate" data-property="databaseName" data-sortable></oui-column>
        <oui-column data-title="'privateDatabase_bdd_dumps_count' | translate" data-property="dumps.length" data-sortable>
            <button class="btn btn-xs" type="button"
                    data-ng-bind="$row.dumps.length"
                    data-ng-class="{ 'btn-success': $row.dumps.length > 0, '$row-danger': !($row.dumps.length > 0) }"
                    data-ng-click="goToArchivesDumps($row)">
            </button>
        </oui-column>
        <oui-action-menu data-align="end" data-compact>
            <oui-action-menu-item data-text="{{:: 'privateDatabase_action_list_dumps' | translate }}"
                                  data-on-click="goToArchivesDumps($row)">
            </oui-action-menu-item>
        </oui-action-menu>
    </oui-datagrid>

</div>
