<div class="popover-menu">
    <button class="btn btn-link" type="button"
            data-translate="mailing_list_tab_popover_update"
            data-ng-click="setAction('email-domain/mailing-list/update/email-domain-mailing-list-update', mailingList)">
    </button>
    <button class="btn btn-link" type="button"
            data-translate="mailing_list_tab_popover_delete"
            data-ng-click="setAction('email-domain/mailing-list/delete/email-domain-mailing-list-delete', mailingList)">
    </button>
    <button class="btn btn-link" type="button"
            data-translate="mailing_list_tab_subscribers_send_list"
            data-ng-click="setAction('email-domain/mailing-list/send-list-by-email/email-domain-mailing-list-send-list-by-email', mailingList)">
    </button>
</div>
