<div data-ng-controller="HostingDeleteSslCtrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="deleteSsl"
         data-wizard-title="i18n.hosting_dashboard_service_delete_ssl_title">

        <div data-wizard-step>
            <p data-i18n-static="hosting_dashboard_service_delete_ssl_warning"
               data-ng-if="ssl.provider === 'LETSENCRYPT'"></p>
            <p data-i18n-static="hosting_dashboard_service_delete_ssl_warning_payable"
               data-ng-if="ssl.provider !== 'LETSENCRYPT'"></p>
        </div>
    </div>
</div>
