<div data-ng-controller="hostingDeleteSslCtrl as $ctrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="deletingCertificate"
         data-wizard-title="i18n.hosting_dashboard_service_delete_ssl_title">

        <div data-wizard-step>
            <p data-i18n-static="hosting_dashboard_service_delete_ssl_warning" data-ng-if="$ctrl.wasCertificateFree"></p>
            <p data-i18n-static="hosting_dashboard_service_delete_ssl_warning_payable" data-ng-if="!$ctrl.wasCertificateFree"></p>
        </div>
    </div>
</div>
