<div data-ng-controller="MailingListsDeleteModeratorCtrl as ctrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="deleteModerators"
         data-wizard-title="i18n.mailing_list_tab_moderators_delete">

        <div data-wizard-step>
            <p data-ng-bind-html="tr('mailing_list_tab_moderators_heading', [ctrl.moderators.length, ctrl.mailingList.name])"
               data-ng-if="ctrl.moderators.length > 1"></p>
            <p data-ng-bind-html="tr('mailing_list_tab_modal_delete_moderator_heading', [ctrl.moderators[0], ctrl.mailingList.name])"
               data-ng-if="ctrl.moderators.length === 1"></p>

            <p data-i18n-static="mailing_list_common_continue_question"></p>
            <oui-loader data-ng-if="ctrl.loading"></oui-loader>
        </div>
    </div>
</div>
