<div data-ng-controller="AddSubdomainCtrl as ctrl">
    <div data-wizard
         data-wizard-confirm-button-text="i18n.wizard_next"
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="actionRedirect"
         data-wizard-title="i18n.domain_configuration_add_subdomain">

        <div data-wizard-step
             data-wizard-step-valid="ctrl.addSubDomainForm.$valid">

            <form name="ctrl.addSubDomainForm">
                <div class="form-group" data-ng-class="{
                    'has-error': ctrl.addSubDomainForm.subdomain.$dirty && ctrl.addSubDomainForm.subdomain.$invalid,
                    'has-success': ctrl.addSubDomainForm.subdomain.$dirty && ctrl.addSubDomainForm.subdomain.$valid && ctrl.model.subdomain.length
                 }">
                    <label class="control-label sr-only" for="subdomain"></label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="subdomain" name="subdomain" maxlength="255" placeholder="{{i18n.domain_configuration_add_subdomain_subdomain}}" aria-describedby="info"
                               data-ng-change="ctrl.subDomainCheck(ctrl.addSubDomainForm.subdomain)"
                               data-ng-model="ctrl.model.subdomain"
                               data-ng-trim="true">
                        <span class="input-group-addon" data-ng-bind="'.' + ctrl.domain.displayName"></span>
                        <span class="input-group-addon" id="info"
                              data-uib-tooltip="{{i18n.domain_configuration_add_subdomain_tip}}"
                              data-tooltip-placement="left">
                            <span class="fa fa-info-circle" aria-hidden="true"></span>
                        </span>
                    </div>
                    <small class="help-block"
                           data-i18n-static="domain_configuration_add_subdomain_error"
                           data-ng-if="ctrl.addSubDomainForm.subdomain.$dirty && ctrl.addSubDomainForm.subdomain.$invalid"></small>
                </div>

                <fieldset data-ng-init="ctrl.model.action = 'addToMutu'">
                    <legend data-i18n-static="domain_configuration_add_subdomain_iwant"></legend>

                    <oui-radio text="{{::tr('domain_configuration_add_subdomain_redir')}}"
                            description="{{::tr('domain_configuration_add_subdomain_redir_sample')}}"
                            on-change="ctrl.model.action = 'redirection'"
                            model="ctrl.model.action"
                            name="add-subdomain"
                            value="'redirection'">
                    </oui-radio>

                    <oui-radio text="{{::tr('domain_configuration_add_subdomain_add_record')}}"
                            description="{{::tr('domain_configuration_add_subdomain_add_record_sample')}}"
                            on-change="ctrl.model.action = 'addRecord'"
                            model="ctrl.model.action"
                            name="add-subdomain"
                            value="'addRecord'">
                    </oui-radio>

                    <oui-radio text="{{::tr('domain_configuration_add_subdomain_add_dom')}}"
                            on-change="ctrl.model.action = 'addToMutu'"
                            model="ctrl.model.action"
                            name="add-subdomain"
                            value="'addToMutu'" checked>
                    </oui-radio>
                </fieldset>
            </form>
        </div>
    </div>
</div>
