<div class="row" data-ng-controller="EmailDomainEmailResponderCtrl as $ctrl">
    <div class="col-md-9">
        <div data-ovh-alert="{{alerts.main}}"></div>

        <button class="oui-button oui-button_link oui-button_icon-left" type="button"
                data-ng-click="ctrlEmailDomainEmail.resetInitialView()">
            <span class="oui-icon oui-icon-chevron-left" aria-hidden="true"></span>
            <span data-i18n-static="common_back"></span>
        </button>
        <h2 data-i18n-static="email_tab_responders_management_heading"></h2>

        <div class="text-center" data-ng-if="$ctrl.loading.responders">
            <oui-spinner data-size="l"></oui-spinner>
        </div>

        <div data-ng-if="!$ctrl.loading.responders">
            <dl class="dl-horizontal dl-lg" data-ng-if="ctrlEmailDomainEmail.quotas.responder > 0">
                <dt data-i18n-static="email_tab_responders_quota"></dt>
                <dd class="text-nowrap"
                    data-ng-bind="$ctrl.responders.length + ' / ' + (ctrlEmailDomainEmail.quotas.responder || '0')">
                </dd>
            </dl>

            <oui-message data-ng-if="$ctrl.responders.length >= ctrlEmailDomainEmail.quotas.responder"
                         data-type="error"
                         data-ng-bind="::tr('email_tab_table_emails_responder_quota_excedeed', [$ctrl.responders.length, ctrlEmailDomainEmail.quotas.responder])">
            </oui-message>

            <oui-message data-ng-if="!$ctrl.responders.length"
                         data-type="info"
                         data-i18n-static="email_tab_table_responders_empty">
            </oui-message>

            <oui-datagrid data-rows="$ctrl.responders" data-row-loader="$ctrl.transformItem($row)">
                <oui-column data-title="::i18n.email_tab_responders_name" data-property="account"></oui-column>
                <oui-column data-title="::i18n.emails_common_date_from" data-property="from">
                    <span data-ng-bind="::'$row.from | date: 'medium'" data-ng-if="$row.from"></span>
                </oui-column>
                <oui-column data-title="::i18n.emails_common_date_to" data-property="to">
                    <span data-ng-bind="::$row.to | date: 'medium'" data-ng-if="$row.to"></span>
                    <span data-ng-if="!$row.to && !$row.from" data-i18n-static="email_tab_modal_create_responder_permanent"></span>
                </oui-column>
                <oui-column data-title="::i18n.emails_common_status">
                    <span class="oui-status"
                          data-ng-class="{
                            'oui-status_success': !$ctrl.constructor.isExpired($row),
                            'oui-status_error': $ctrl.constructor.isExpired($row)
                            }"
                          data-ng-bind="::tr('email_tab_responders_status_expired_' + $ctrl.constructor.isExpired($row))"></span>
                </oui-column>
                <oui-column data-title="::i18n.emails_common_copy_to" data-property="copyTo"></oui-column>
                <oui-column data-title="">
                    <span data-ng-if="$row.actionsDisabled" class="fa fa-hourglass-half" aria-hidden="true"></span>
                </oui-column>
                <oui-action-menu data-align="end" data-compact data-disabled="$row.actionsDisabled">
                    <oui-action-menu-item data-text="{{::i18n.email_tab_popover_responder_update}}"
                                          data-on-click="setAction('email-domain/email/responder/update/email-domain-email-responder-update', { responder: $row })">
                    </oui-action-menu-item>
                    <oui-action-menu-item data-text="{{::i18n.email_tab_popover_responder_delete}}"
                                          data-on-click="setAction('email-domain/email/responder/delete/email-domain-email-responder-delete', { responder: $row })">
                    </oui-action-menu-item>
                </oui-action-menu>
                <extra-top>
                    <button class="float-right oui-button oui-button_secondary oui-button_icon-only oui-button_small-width"
                            data-title="{{::i18n.email_tab_table_header_refresh}}"
                            data-ng-click="$ctrl.refreshTableResponders()">
                        <span class="fa fa-refresh" aria-hidden="true"></span>
                    </button>
                </extra-top>
            </oui-datagrid>
        </div>
    </div>

    <div class="col-md-3 mt-5 mt-lg-0">
        <div class="mb-5">
            <button class="btn btn-block btn-default" type="button"
                    data-i18n-static="email_tab_modal_create_responder_title"
                    data-ng-click="setAction('email-domain/email/responder/create/email-domain-email-responder-create', {
                        accounts: ctrlEmailDomainEmail.emails
                    })"
                    data-ng-if="$ctrl.responders.length < ctrlEmailDomainEmail.quotas.responder">
            </button>
        </div>
        <div data-guides
             data-guides-title="tr('guide_subtitle')"
             data-guides-list="'emailsResponder'"
             data-tr="tr">
        </div>
    </div>
</div>
