<div class="popover-menu">
    <button class="btn btn-link" type="button"
            data-i18n-static="email_tab_popover_responder_update"
            data-ng-click="setAction('email-domain/email/responder/update/email-domain-email-responder-update', { responder: responder })">
    </button>
    <button class="btn btn-link" type="button"
            data-i18n-static="email_tab_popover_responder_delete"
            data-ng-click="setAction('email-domain/email/responder/delete/email-domain-email-responder-delete', { responder: responder })">
    </button>
</div>
