<div data-ng-controller="DomainZoneActivateCtrl as ctrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="activateZone"
         data-wizard-title="i18n.domain_tab_ZONE_no_zone_activate_btn">

        <div data-wizard-step
             data-wizard-step-valid="!ctrl.loading">

            <oui-spinner data-ng-if="ctrl.loading"></oui-spinner>

            <div data-ng-if="!ctrl.loading">
                <p data-i18n-static="domain_tab_ZONE_no_zone_activate_question"></p>
                <form class="mt-4" data-ng-init="ctrl.activationZone.minimized = false">

                    <oui-radio text="{{::tr('domain_tab_ZONE_no_zone_activate_minimized_yes')}}"
                            on-change="ctrl.activationZone.minimized = true"
                            model="ctrl.activationZone.minimized"
                            name="activate-dns"
                            value="true">
                    </oui-radio>

                    <oui-radio text="{{::tr('domain_tab_ZONE_no_zone_activate_minimized_no')}}"
                            on-change="ctrl.activationZone.minimized = false"
                            model="ctrl.activationZone.minimized"
                            name="activate-dns"
                            value="false">
                    </oui-radio>
                </form>
            </div>
        </div>
    </div>
</div>
