<div data-ovh-alert="{{alerts.page}}"></div>

<div data-ng-if="!$ctrl.loading.domainsError">

    <div class="page-header">
        <h1 data-translate="domains_dashboard_title"></h1>
    </div>

    <div class="container-fluid px-5">
        <div class="row mt-5">
            <div class="col-md-9">
                <div data-ovh-alert="{{alerts.main}}"></div>

                <oui-datagrid data-rows-loader="$ctrl.loadDomains($config)"
                              data-empty-placeholder="{{:: 'domains_dashboard_table_noresult' | translate }}"
                              data-page-size="10"
                              data-selectable-rows
                              data-keep-selected-rows
                              data-on-row-select="$ctrl.toggleDomain($row, $rows)">
                    <oui-column data-title=":: 'domains_dashboard_table_titles_name' | translate"
                                data-property="name"
                                data-type="string"
                                data-searchable>
                        <a class="oui-link"
                           data-ng-bind=":: $row.displayName"
                           data-ui-sref="app.domain.product({ productId: $row.displayName })">
                        </a>
                    </oui-column>
                    <oui-column data-title=":: 'domains_dashboard_table_titles_expiration' | translate">
                        <span data-ng-bind=":: $row.expiration | date:'mediumDate'"></span>
                    </oui-column>
                    <oui-column data-title=":: 'domains_dashboard_table_titles_whois' | translate">
                        <span class="oui-status oui-status_success"
                              data-translate="common_activated"
                              data-ng-if="$row.whoisFields.length > 0">
                        </span>
                        <span class="oui-status oui-status_error"
                              data-translate="common_desactivated"
                              data-ng-if="$row.whoisFields.length === 0">
                        </span>
                    </oui-column>
                    <oui-column data-title=":: 'domains_dashboard_table_titles_dnssec' | translate">
                        <span class="oui-status"
                              data-translate="{{ 'domains_dashboard_table_dnssec_status_' + $row.dnssecStatus }}"
                              data-ng-class="{
                                  'oui-status_success': $row.dnssecStatus === 'ENABLED',
                                  'oui-status_error': $row.dnssecStatus === 'DISABLED',
                                  'oui-status_info': $row.dnssecStatus !== 'ENABLED' && $row.dnssecStatus !== 'DISABLED'
                                }"
                              data-ng-if="$row.dnssecSupported && $row.dnssecStatus !== null">
                        </span>
                        <span class="oui-status oui-status_warning"
                              data-translate="common_not_supported"
                              data-ng-if="!$row.dnssecSupported">
                        </span>
                    </oui-column>
                    <oui-column data-title=":: 'domains_dashboard_table_titles_dnsanycast' | translate">
                        <span class="oui-status oui-status_success"
                              data-translate="common_activated"
                              data-ng-if="$row.hasDnsAnycast"></span>
                        <span class="oui-status oui-status_error"
                              data-translate="common_desactivated"
                              data-ng-if="$row.hasDnsAnycast === false">
                        </span>
                        <span class="oui-status oui-status_warning"
                              data-translate="common_not_available"
                              data-ng-if="$row.hasDnsAnycast == null">
                        </span>
                    </oui-column>
                    <oui-action-menu data-compact data-align="end">
                        <oui-action-menu-item data-on-click="$ctrl.setAction('renew/domains-renew', 'domains/', $row)"
                                              data-disabled="!$row.canOrder">
                            <span data-translate="domains_dashboard_tooltip_renew_single"></span>
                        </oui-action-menu-item>
                        <oui-action-menu-item data-on-click="$ctrl.setAction('owo/domains-owo', 'domains/', $row)"
                                              data-disabled="!$row.whoisActivable">
                            <span data-translate="domains_dashboard_tooltip_whois_single"></span>
                        </oui-action-menu-item>
                        <oui-action-menu-item data-ng-if="$row.dnssecSupported && $row.dnssecStatus === 'DISABLED'"
                                              data-on-click="$ctrl.setAction('dnssec/simple/activate/domains-dnssec-simple-activate', 'domains/', $row)">
                            <span data-translate="domains_dashboard_tooltip_dnssec_activate_single"></span>
                        </oui-action-menu-item>
                        <oui-action-menu-item data-ng-if="$row.dnssecSupported && $row.dnssecStatus === 'ENABLED'"
                                              data-on-click="$ctrl.setAction('dnssec/simple/deactivate/domains-dnssec-simple-deactivate', 'domains/', $row)">
                            <span data-translate="domains_dashboard_tooltip_dnssec_deactivate_single"></span>
                        </oui-action-menu-item>
                    </oui-action-menu>
                </oui-datagrid>
            </div>
            <div class="col-md-3 mt-5 mt-lg-0">
                <button class="oui-button oui-button_secondary mw-100 w-100 mb-2" type="button"
                        data-translate="domains_dashboard_button_renew"
                        data-ng-click="setActionMultiple('renew/domains-renew')"
                        data-ng-disabled="!$ctrl.atLeastOneSelected"
                        data-uib-tooltip="{{:: 'domains_dashboard_tooltip_renew_multiples' | translate }}"
                        data-tooltip-append-to-body="true">
                </button>
                <button class="oui-button oui-button_secondary mw-100 w-100 mb-2" type="button"
                        data-translate="domains_dashboard_button_whois"
                        data-ng-click="setActionMultiple('owo/domains-owo')"
                        data-ng-disabled="!$ctrl.atLeastOneSelected"
                        data-uib-tooltip="{{:: 'domains_dashboard_tooltip_whois_multiples' | translate }}"
                        data-tooltip-append-to-body="true">
                </button>
                <button class="oui-button oui-button_secondary mw-100 w-100 mb-2" type="button"
                        data-translate="domains_dashboard_button_dnssec"
                        data-ng-click="setActionMultiple('dnssec/batch/domains-dnssec-batch')"
                        data-ng-disabled="!$ctrl.atLeastOneSelected"
                        data-uib-tooltip="{{:: 'domains_dashboard_tooltip_dnssec_multiples' | translate }}"
                        data-tooltip-append-to-body="true">
                </button>
                <button class="oui-button oui-button_secondary mw-100 w-100 mb-2" type="button"
                        data-ng-click="setActionMultiple('export-csv/domains-export-to-csv')"
                        data-ng-disabled="$ctrl.loading.domainsExportCsv"
                        data-ng-if="$ctrl.domains && $ctrl.domains.count"
                        data-uib-tooltip="{{:: 'domains_dashboard_tooltip_export_csv' | translate }}"
                        data-tooltip-append-to-body="true">
                    <span data-translate="domains_dashboard_button_export"
                          data-ng-if="!$ctrl.loading.domainsExportCsv"></span>
                    <span data-translate="domains_dashboard_tooltip_export_csv_creation_doing"
                          data-ng-if="$ctrl.loading.domainsExportCsv"></span>
                </button>
                <a class="oui-button oui-button_secondary mw-100 w-100" target="_blank"
                   data-translate="domains_change_owner"
                   data-ng-href="{{ $ctrl.urlBulkChangeOwner }}"
                   data-ng-if="$ctrl.domains && $ctrl.domains.count && $ctrl.urlBulkChangeOwner">
                </a>
            </div>
        </div>
    </div>
</div>

<div id="currentAction" class="modal fade currentAction" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div id="modal-container" class="modal-content" data-ng-include="$ctrl.stepPath"></div>
        <div id="modal-help" class="help4wizards"></div>
    </div>
</div>
