<div class="container-fluid px-0" data-ng-controller="HostingTabModulesController as ctrlHostingTabModules">

    <oui-loader size="l" data-ng-if="ctrlHostingTabModules.loading"></oui-loader>

    <div class="row" data-ng-show="!ctrlHostingTabModules.loading">
        <div class="col-md-9">
            <div data-ovh-alert="{{alerts.main}}"></div>

            <div class="alert alert-warning" role="alert"
                 data-i18n-static="hosting_configuration_tab_modules_status_maintenance"
                 data-ng-if="ctrlHostingTabModules.serviceState === 'MAINTENANCE'">
            </div>

            <div class="alert alert-danger" role="alert"
                 data-i18n-static="hosting_configuration_tab_modules_status_bloqued"
                 data-ng-if="ctrlHostingTabModules.serviceState === 'BLOQUED'">
            </div>

            <div class="alert alert-info" role="alert"
                 data-ng-if="hosting.offer === 'START_10_M'">
                <div>
                    <p data-i18n-static="hosting_change_offer_for_service_start10m"></p>
                    <button class="btn btn-info" type="button"
                            data-i18n-static="hosting_dashboard_service_change_offer"
                            data-ng-click="setAction('offer/upgrade/hosting-offer-upgrade')">
                    </button>
                </div>
            </div>

            <div data-ng-if="ctrlHostingTabModules.serviceState === 'ACTIVE' && hosting.offer !== 'START_10_M'">

                <div class="alert alert-info" role="alert"
                     data-ng-if="!displayTabs.modules">
                    <div>
                        <p data-i18n-static="hosting_change_offer_for_service"></p>
                        <button class="btn btn-info" type="button"
                                data-i18n-static="hosting_dashboard_service_change_offer"
                                data-ng-click="setAction('offer/upgrade/hosting-offer-upgrade')">
                        </button>
                    </div>
                </div>

                <div data-ng-if="displayTabs.modules">

                    <p data-ng-if="ctrlHostingTabModules.guide">
                        <span class="fa fa-life-ring mr-2" aria-hidden="true"></span>
                        <span data-i18n-static="hosting_tab_MODULES_guide_help"></span>
                        <a data-ng-href="{{ctrlHostingTabModules.guide}}" target="_blank" title="{{i18n.hosting_guide_help}} ({{i18n.common_newtab}})">
                            <span data-i18n-static="hosting_guide_help"></span>
                            <span class="fa fa-external-link" aria-hidden="true"></span>
                        </a>
                    </p>

                    <div class="alert alert-info" role="alert"
                         data-i18n-static="hosting_configuration_tab_modules_table_empty"
                         data-ng-if="!ctrlHostingTabModules.modules.details.length">
                    </div>

                    <div class="table-responsive" data-ng-if="ctrlHostingTabModules.modules.details.length > 0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="row" data-i18n-static="hosting_configuration_tab_modules_module_name"></th>
                                <th scope="row" data-i18n-static="hosting_configuration_tab_modules_module_path"></th>
                                <th scope="row" data-i18n-static="hosting_configuration_tab_modules_module_version"></th>
                                <th scope="row" data-i18n-static="hosting_configuration_tab_modules_module_login"></th>
                                <th class="min-width" scope="row"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="module in ctrlHostingTabModules.modules.details track by $index">
                                <th scope="row">
                                    <div class="d-flex justify-content-between">
                                        <a data-ng-href="http://{{module.targetUrl}}" target="_blank" title="{{i18n.hosting_configuration_tab_modules_module_access}} {{module.template.name}} {{i18n.hosting_common_target_new_window}}"
                                           data-ng-bind="::module.template.name">
                                        </a>
                                        <a target="_blank" title="{{i18n.hosting_configuration_tab_modules_module_access_admin}} {{module.template.name}} {{i18n.hosting_common_target_new_window}}"
                                           data-ng-href="http://{{module.targetUrl}}/{{module.adminFolder}}">
                                            <span class="fa fa-pencil-square-o ml-4" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                </th>
                                <td data-ng-bind="::module.path"></td>
                                <td data-ng-bind="::module.template.version"></td>
                                <td data-ng-bind="::module.adminName"></td>
                                <td class="text-center">
                                    <button class="btn btn-icon" type="button" title="{{::module.template.name}} {{i18n.hosting_configuration_tab_modules_module_config}}"
                                            data-linkedpopover="hosting/popover/module.html"
                                            data-linkedpopover-placement="left"
                                            data-linkedpopover-single="true"
                                            data-linkedpopover-remote="true"
                                            data-linkedpopover-title="{{i18n.common_actions}}">
                                        <span class="oui-icon oui-icon-gear_line oui-icon_small" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="clearfix"
                         data-ng-if="ctrlHostingTabModules.modules.ids">
                        <div data-pagination-front
                             data-items="ctrlHostingTabModules.modules.ids"
                             data-paginated-items="ctrlHostingTabModules.modules.details"
                             data-current-page="currentPage"
                             data-nb-pages="nbPages"
                             data-items-per-page="itemsPerPage"
                             data-transform-item="ctrlHostingTabModules.transformItem(item)"
                             data-on-transform-item-done="ctrlHostingTabModules.onTransformItemDone(items)"
                             data-page-placeholder="{{tr('pagination_page', [currentPageBoostHistory, nbPages])}}"
                             data-item-per-page-placeholder="{{tr('pagination_display')}}"
                             data-ng-show="!ctrlHostingTabModules.loading && ctrlHostingTabModules.modules.details.length > 0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mt-5 mt-lg-0">
            <button type="button" class="btn btn-block btn-default"
                    data-i18n-static="hosting_configuration_tab_modules_module_add"
                    data-ng-click="setAction('module/add/hosting-module-add')"
                    data-ng-if="ctrlHostingTabModules.serviceState === 'ACTIVE' && hosting.offer !== 'START_10_M' && displayTabs.modules">
            </button>
        </div>
    </div>
</div>
