<div class="popover-menu">
    <button class="btn btn-link" type="button"
            data-i18n-static="email_tab_popover_filter_edit"
            data-ng-click="setAction('email-domain/email/filter/edit/email-domain-email-filter-edit', { account: ctrlEmailDelegateFilter.currentAccount, filter: filter, accounts: ctrlEmailDelegate.emails, delegate: true })">
    </button>
    <button class="btn btn-link" type="button"
            data-i18n-static="email_tab_popover_filter_delete"
            data-ng-click="setAction('email-domain/email/filter/delete/email-domain-email-filter-delete', { account: ctrlEmailDelegateFilter.currentAccount, filter: filter, delegate: true })">
    </button>
</div>
