<div class="row" data-ng-controller="EmailDelegateFilterCtrl as ctrlEmailDelegateFilter">
    <div class="col-md-9">
        <div data-ovh-alert="{{alerts.main}}"></div>

        <button class="oui-button oui-button_link oui-button_icon-left" type="button"
                data-ng-click="ctrlEmailDelegate.resetInitialView()">
            <span class="oui-icon oui-icon-chevron-left" aria-hidden="true"></span>
            <span data-i18n-static="common_back"></span>
        </button>
        <h2>
            <span data-i18n-static="email_tab_filters_management_heading"></span>
            <strong class="word-break"
                    data-ng-bind="ctrlEmailDelegateFilter.currentAccount.email"></strong>
        </h2>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" data-i18n-static="email_tab_table_header_filter_name"></th>
                        <th class="text-center" scope="col" data-i18n-static="email_tab_table_header_filter_priority"></th>
                        <th class="text-center" scope="col" data-i18n-static="emails_common_status"></th>
                        <th class="min-width text-right" scope="col">
                            <button class="btn btn-icon" type="button" title="{{::i18n.email_tab_table_header_refresh}}"
                                    data-ng-click="ctrlEmailDelegateFilter.refreshTableFilters()">
                                <span class="fa fa-refresh" aria-hidden="true"></span>
                            </button>
                        </th>
                    </tr>
                </thead>

                <!--loader-->
                <tbody data-ng-if="ctrlEmailDelegateFilter.loading.filters">
                    <tr>
                        <td class="loader text-center" colspan="4"></td>
                    </tr>
                </tbody>

                <!-- no filters -->
                <tbody data-ng-if="!ctrlEmailDelegateFilter.loading.filters && !ctrlEmailDelegateFilter.filters.length">
                    <tr>
                        <td class="text-center" colspan="4" data-i18n-static="email_tab_table_filters_empty"></td>
                    </tr>
                </tbody>

                <!--filters-->
                <tbody data-ng-if="!ctrlEmailDelegateFilter.loading.filters && ctrlEmailDelegateFilter.filters.length > 0">
                    <tr data-ng-repeat="filter in (ctrlEmailDelegateFilter.filtersDetails | orderBy:'name') track by $index">
                        <td data-ng-bind="::filter.name"></td>
                        <td class="text-center" data-ng-bind="::filter.priority"></td>
                        <td class="text-center">
                            <span class="label" data-ng-class="{'label-success': filter.active, 'label-danger': !filter.active}"
                                  data-ng-bind="::tr('email_tab_filters_status_' + filter.active)"></span>
                        </td>
                        <td>
                            <button class="btn btn-icon" type="button"
                                    data-linkedpopover="email-domain/delegate/filter/email-domain-delegate-filter.popover.html"
                                    data-linkedpopover-placement="left"
                                    data-linkedpopover-remote="true"
                                    data-linkedpopover-single="true"
                                    data-linkedpopover-title="{{i18n.common_actions}}">
                                <span class="oui-icon oui-icon-gear_line oui-icon_small" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="clearfix"
             data-ng-if="ctrlEmailDelegateFilter.filters">
            <div data-pagination-front
                 data-items="ctrlEmailDelegateFilter.filters"
                 data-paginated-items="ctrlEmailDelegateFilter.filtersDetails"
                 data-current-page="currentPageFilters"
                 data-nb-pages="nbPages"
                 data-items-per-page="itemsPerPage"
                 data-transform-item="ctrlEmailDelegateFilter.transformItem(item)"
                 data-on-transform-item-done="ctrlEmailDelegateFilter.loading.filters = false"
                 data-page-placeholder="{{tr('pagination_page', [currentPageFilters, nbPages])}}"
                 data-item-per-page-placeholder="{{tr('pagination_display')}}"
                 data-ng-show="!ctrlEmailDelegateFilter.loading.filters && ctrlEmailDelegateFilter.filtersDetails.length > 0">
            </div>
        </div>
    </div>

    <div class="col-md-3 mt-5 mt-lg-0">
        <button class="btn btn-block btn-default" type="button"
                data-i18n-static="email_tab_button_emails_create_filter"
                data-ng-click="setAction('email-domain/email/filter/create/email-domain-email-filter-create', {
                    account: ctrlEmailDelegateFilter.currentAccount,
                    accounts: ctrlEmailDelegateFilter.accounts,
                    filterNames: ctrlEmailDelegateFilter.filters,
                    delegate: true
                })">
        </button>
    </div>
</div>
