<div data-ng-controller="DomainsDnssecBatchCtrl as ctrlDomainsDnssecBatch">
    <div data-wizard
         data-wizard-bread-crumb
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="updateDnssec"
         data-wizard-title="i18n.domains_configuration_dnssec_batch_title + ' (' + ctrlDomainsDnssecBatch.selected.domainsNames.length + ')'">

        <div data-wizard-step
             data-wizard-step-valid="ctrlDomainsDnssecBatch.selected.domainsNames.length > 0 && ctrlDomainsDnssecBatch.selected.state !== null">

            <p data-i18n-static="domains_configuration_dnssec_batch_step1_no_selected_domains"
               data-ng-if="!ctrlDomainsDnssecBatch.selected.domainsNames"></p>

            <p data-i18n-static="domains_configuration_dnssec_batch_step1_question"></p>
            <form class="ml-2" name="DomainsDnssecBatchForm" data-ng-if="ctrlDomainsDnssecBatch.selected.domainsNames">
                <div class="oui-radio">
                    <input type="radio" class="oui-radio__input" name="domainsDnssecBatchStateEnabled" id="domainsDnssecBatchStateEnabled-yes"
                           data-ng-model="ctrlDomainsDnssecBatch.selected.state"
                           data-ng-value="true">
                    <label class="oui-radio__label-container" for="domainsDnssecBatchStateEnabled-yes">
                        <span class="oui-radio__label"
                              data-i18n-static="domains_configuration_dnssec_batch_step1_status_true"></span>
                    </label>
                </div>
                <div class="oui-radio">
                    <input type="radio" class="oui-radio__input" name="domainsDnssecBatchStateDisabled" id="domainsDnssecBatchStateEnabled-no"
                           data-ng-model="ctrlDomainsDnssecBatch.selected.state"
                           data-ng-value="false">
                    <label class="oui-radio__label-container" for="domainsDnssecBatchStateEnabled-no">
                        <span class="oui-radio__label"
                              data-i18n-static="domains_configuration_dnssec_batch_step1_status_false"></span>
                    </label>
                </div>
            </form>

            <div data-wizard-step-help>
                <h3 data-i18n-static="domains_configuration_dnssec_batch_step1_help_title"></h3>
                <p data-ng-bind-html="tr('domains_configuration_dnssec_batch_step1_help_content')"></p>
                <p>
                    <a data-ng-href="{{ctrlDomainsDnssecBatch.dnssec_service_url}}" target="_blank"
                       data-i18n-static="domains_configuration_dnssec_batch_step1_help_more"></a>
                </p>
            </div>
        </div>

        <div data-wizard-step>
            <p data-i18n-static="domains_configuration_dnssec_batch_step2_question"></p>
            <strong data-ng-bind="tr('domains_configuration_dnssec_batch_step2_status_' + ctrlDomainsDnssecBatch.selected.state)"></strong>
        </div>
    </div>
</div>
