<div data-ng-controller="HostingDomainAttachOrOrderCtrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="submit"
         data-wizard-title="i18n.hosting_dashboard_add_or_order_title">

        <div data-wizard-step
             data-wizard-step-valid="selected.action">

            <p data-i18n-static="hosting_dashboard_add_or_order_step1_title"></p>
            <div class="ml-4">
                <div class="radio">
                    <label>
                        <input type="radio" name="hostingDomainAction" value="{{model.actions.ORDER}}"
                               data-ng-model="selected.action">
                        <span data-i18n-static="hosting_dashboard_add_or_order_step1_order"></span>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="hostingDomainAction" value="{{model.actions.ATTACH}}"
                               data-ng-model="selected.action">
                        <span data-i18n-static="hosting_dashboard_add_or_order_step1_attach"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
