<div class="container-fluid px-0" data-ng-controller="HostingTabLocalSeoCtrl as $ctrl">

    <div class="row">
        <div class="col-md-9">
            <div data-ovh-alert="{{alerts.main}}"></div>

            <h3 data-i18n-static="hosting_tab_LOCAL_SEO"></h3>
            <p>
                <span data-i18n-static="hosting_tab_LOCAL_SEO_description"></span>
                <a href="{{ $ctrl.visibilityCheckerURL }}" target="_blank" rel="noopener">
                    <span data-i18n-static="hosting_dashboard_local_seo_visibility_check"></span>
                    <span class="fa fa-external-link" aria-label="{{:: tr('core_new_window') }}"></span>
                </a>
            </p>

            <oui-button class="mb-5"
                        data-variant="primary"
                        data-on-click="$ctrl.HostingLocalSeo.goToLocalSeoOrder(hosting.serviceName)">
                <span data-i18n-static="hosting_dashboard_local_seo_order"></span>
            </oui-button>

            <oui-datagrid id="{{ $ctrl.datagridId }}"
                          data-rows-loader="$ctrl.refresh($config)"
                          data-row-loader="$ctrl.transformItem($row)"
                          data-empty-placeholder="{{::tr('hosting_tab_LOCAL_SEO_table_empty')}}">
                <oui-column data-title="::tr('hosting_tab_LOCAL_SEO_table_header_name')"
                            data-property="name">
                    {{$row.name}}
                    <span class="oui-status oui-status_info"
                          data-ng-if="!$row.name"
                          data-i18n-static="hosting_tab_LOCAL_SEO_table_value_undefined">
                    </span>
                </oui-column>
                <oui-column data-title="::tr('hosting_tab_LOCAL_SEO_table_header_address')"
                            data-property="address">
                    {{$row.address}}
                    <span class="oui-status oui-status_info"
                            data-ng-if="!$row.address"
                            data-i18n-static="hosting_tab_LOCAL_SEO_table_value_undefined">
                    </span>
                </oui-column>
                <oui-column data-title="::tr('hosting_tab_LOCAL_SEO_table_header_email')"
                            data-property="account.email">
                    {{$row.account.email || '-'}}
                </oui-column>
                <oui-column data-title="::tr('hosting_tab_LOCAL_SEO_table_header_status')"
                            data-property="status">
                    <span class="oui-status"
                          data-ng-class="{'oui-status_success': $row.status === 'created',
                                          'oui-status_warning': $row.status === 'creating',
                                          'oui-status_error': $row.status === 'deleting'}"
                          data-ng-bind="tr('hosting_tab_LOCAL_SEO_state_' + $row.status)">
                    </span>
                </oui-column>
                <oui-action-menu data-align="end" data-compact>
                    <oui-action-menu-item
                        data-text="{{::tr('hosting_tab_LOCAL_SEO_access_interface')}}"
                        data-disabled="$row.status !== 'created'"
                        data-on-click="$ctrl.goToInterface($row)">
                    </oui-action-menu-item>
                    <oui-action-menu-item
                        data-text="{{::tr('hosting_tab_LOCAL_SEO_delete')}}"
                        data-disabled="$row.status !== 'created'"
                        data-on-click="setAction('local-seo/delete/hosting-local-seo-delete', $row)">
                    </oui-action-menu-item>
                </oui-action-menu>
            </oui-datagrid>
        </div>
    </div>
</div>
