<div class="popover-menu" data-ng-controller="HostingTabDomainsMultisiteLogs">
    <div class="text-center" data-ng-if="!domain.logUrl && !domain.logUrlError">
        <span data-i18n-static="hosting_tab_DOMAINS_multisite_logs_generation"></span>
        <div class="loader" aria-label="{{i18n.common_loading}}"></div>
    </div>
    <a class="btn btn-link" target="_blank" title="{{::i18n.hosting_common_target_new_window}}"
       data-i18n-static="hosting_tab_DOMAINS_multisite_logs_link"
       data-ng-href="{{domain.logUrl}}"
       data-ng-if="!!domain.logUrl && !domain.logUrlError">
    </a>
    <div data-i18n-static="hosting_tab_DOMAINS_multisite_logs_generation_error"
         data-ng-if="domain.logUrlError">
    </div>
</div>
