<div class="container-fluid px-0" data-ng-controller="HostingTabUserLogsCtrl" data-ng-init="init()">
    <div class="row">
        <div class="col-md-9">
            <h2 data-i18n-static="hosting_tab_USER_LOGS"></h2>
            <span class="fa fa-life-ring" aria-hidden="true"></span>
            <span data-i18n-static="hosting_tab_USER_LOGS_guide_help"></span>
            <a data-ng-href="{{guide}}" target="_blank" title="{{hosting_guide_help}} {{i18n.common_newtab}}">
                <span data-i18n-static="hosting_guide_help"></span>
                <span class="fa fa-external-link" aria-hidden="true"></span>
            </a>
            <div class="mt-4">
                <p data-i18n-static="hosting_tab_USER_LOGS_dashboard_information"></p>
                <dl>
                    <dt data-i18n-static="hosting_tab_USER_LOGS_dashboard_stats"></dt>
                    <dd>
                        <a data-ng-href="{{urlUrchin}}" target="_blank" title="{{hosting_tab_USER_LOGS_dashboard_stats_newtab}}"
                           data-ng-if="!userLogsToken">
                            <span data-ng-bind="urlUrchin"></span>
                            <span class="fa fa-external-link" aria-hidden="true"></span>
                        </a>
                        <a data-ng-href="{{urlUrchin + '?token=' + userLogsToken}}" target="_blank" title="{{hosting_tab_USER_LOGS_dashboard_stats_newtab}}"
                           data-ng-if="userLogsToken">
                            <span data-ng-bind="urlUrchin"></span>
                            <span class="fa fa-external-link" aria-hidden="true"></span>
                        </a>
                    </dd>

                    <dt data-i18n-static="hosting_tab_USER_LOGS_dashboard_logs"></dt>
                    <dd>
                        <a data-ng-href="{{urlLogs}}" target="_blank" title="{{hosting_tab_USER_LOGS_dashboard_logs_link}} {{i18n.common_newtab}}"
                           data-ng-if="!userLogsToken">
                            <span data-ng-bind="urlLogs"></span>
                            <span class="fa fa-external-link" aria-hidden="true"></span>
                        </a>
                        <a data-ng-href="{{ urlLogs + '?token=' +  userLogsToken}}" target="_blank" title="{{hosting_tab_USER_LOGS_dashboard_logs_link}} {{i18n.common_newtab}}"
                           data-ng-if="userLogsToken">
                            <span data-ng-bind="urlLogs"></span>
                            <span class="fa fa-external-link" aria-hidden="true"></span>
                        </a>
                    </dd>
                </dl>
            </div>

            <div class="mt-5">
                <div class="loader text-center" aria-label="{{i18n.common_loading}}" data-ng-if="loaders.userLogs"></div>

                <div class="alert alert-info" role="alert"
                     data-i18n-static="hosting_tab_USER_LOGS_none"
                     data-ng-if="!loaders.userLogs && !userLogs.ids.length">
                </div>

                <div class="table-responsive" data-ng-if="!loaders.userLogs && userLogs.ids.length > 0">
                    <table class="table"
                           data-ng-class="{'table-hover table-striped': !loaders.pager}">
                        <thead>
                            <tr>
                                <th scope="col" data-i18n-static="hosting_tab_USER_LOGS_table_header_login"></th>
                                <th scope="col" data-i18n-static="hosting_tab_USER_LOGS_table_header_description"></th>
                                <th scope="col" data-i18n-static="hosting_tab_USER_LOGS_table_header_creationDate"></th>
                                <th class="min-width text-right" scope="col">
                                    <button class="btn btn-icon" type="button" title="{{::i18n.emails_tab_table_header_refresh}}"
                                            data-ng-click="refreshTableUserLogs()">
                                        <span class="fa fa-refresh" aria-hidden="true"></span>
                                    </button>
                                </th>
                            </tr>
                        </thead>

                        <tbody data-ng-if="loaders.pager">
                            <tr>
                                <td class="loader text-center" colspan="4"></td>
                            </tr>
                        </tbody>

                        <!-- user logs -->
                        <tbody data-ng-if="!loaders.pager">
                            <tr data-ng-repeat="userLogsEntry in userLogs.details track by $index">
                                <th class="word-break" scope="row"
                                    data-ng-bind="userLogsEntry.login"></th>
                                <td class="word-break"
                                    data-ng-bind="userLogsEntry.description"></td>
                                <td data-ng-bind="userLogsEntry.creationDate | date:'medium'"></td>
                                <td class="text-center">
                                    <button class="btn btn-icon" type="button"
                                            data-linkedpopover="hosting/popover/user_logs.html"
                                            data-linkedpopover-placement="left"
                                            data-linkedpopover-single="true"
                                            data-linkedpopover-remote="true"
                                            data-linkedpopover-title="{{i18n.common_actions}}">
                                        <span class="oui-icon oui-icon-gear_line oui-icon_small" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="clearfix"
                     data-ng-if="userLogs.ids">
                    <div data-pagination-front
                         data-items="userLogs.ids"
                         data-paginated-items="userLogs.details"
                         data-current-page="currentPage"
                         data-nb-pages="nbPages"
                         data-items-per-page="itemsPerPage"
                         data-transform-item="transformItem(item)"
                         data-on-transform-item-done="onTransformItemDone(items)"
                         data-page-placeholder="{{tr('pagination_page', [currentPage, nbPages])}}"
                         data-item-per-page-placeholder="{{::tr('pagination_display')}}"
                         data-on-page-change="loaders.pager = true"
                         data-ng-show="!loaders.userLogs && userLogs.details.length > 0">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mt-5 mt-lg-0">
            <button class="btn btn-block btn-default" type="button"
                    data-i18n-static="hosting_tab_USER_LOGS_configuration_user_create_title_button"
                    data-ng-click="setAction('user-logs/add/hosting-user-logs-add')">
            </button>
        </div>
    </div>
</div>
