<div data-ng-controller="DomainDynHostLoginDeleteCtrl as ctrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="deleteLogin"
         data-wizard-title="i18n.domain_tab_DYNHOSTLOGIN_delete_title">

        <div data-wizard-step
             data-wizard-step-valid="!ctrl.loading">

            <div class="text-center" data-ng-if="ctrl.loading">
                <oui-loader inline="true"></oui-loader>
            </div>

            <p data-ng-bind-html="tr('domain_tab_DYNHOSTLOGIN_delete_confirm', [ctrl.login])"
               data-ng-if="!ctrl.loading"></p>
        </div>
    </div>
</div>
