<div data-ng-controller="hostingOrderSslCtrl as $ctrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="onFinishWizard"
         data-wizard-title="i18n.hosting_dashboard_service_order_ssl">

        <div data-wizard-step
             data-wizard-step-on-load="onStep1Load"
             data-wizard-step-on-next="onStep1NextStep">
            <div class="text-center" data-ng-if="$ctrl.step1.loading.isRetrievingInitialData">
                <oui-spinner></oui-spinner>
            </div>

            <div data-ng-if="!$ctrl.step1.loading.isRetrievingInitialData">
                <form data-ng-if="!$ctrl.step1.loading.isRetrievingInitialData">
                    <fieldset>
                        <div class="oui-radio" data-ng-if="$ctrl.step1.canOrderLetEncryptCertificate">
                            <input type="radio"
                                    class="oui-radio__input"
                                    id="sslTypeLetsEncrypt"
                                    name="sslType"
                                    data-ng-value="$ctrl.certificateTypes.letsEncrypt"
                                    data-ng-model="$ctrl.global.selectedCertificateType"
                                    required>
                            <label class="oui-radio__label-container" for="sslTypeLetsEncrypt">
                                <span class="oui-radio__label" data-i18n-static="hosting_dashboard_ssl_order_free"></span>
                            </label>
                        </div>
                        <div class="oui-radio" data-ng-if="$ctrl.step1.canOrderPaidCertificate">
                            <input type="radio"
                                    class="oui-radio__input"
                                    id="sslTypePaid"
                                    name="sslType"
                                    data-ng-value="$ctrl.certificateTypes.paid"
                                    data-ng-model="$ctrl.global.selectedCertificateType"
                                    required>
                            <label class="oui-radio__label-container" for="sslTypePaid">
                                <span class="oui-radio__label" data-i18n-static="hosting_dashboard_ssl_order_payable"></span>
                            </label>
                        </div>
                        <div class="oui-radio">
                            <input type="radio"
                                    class="oui-radio__input"
                                    id="sslTypeImport"
                                    name="sslType"
                                    data-ng-value="$ctrl.certificateTypes.import"
                                    data-ng-model="$ctrl.global.selectedCertificateType"
                                    required>
                            <label class="oui-radio__label-container" for="sslTypeImport">
                                <span class="oui-radio__label" data-i18n-static="hosting_dashboard_ssl_order_import"></span>
                            </label>
                        </div>
                    </fieldset>
                </form>

                <div class="alert alert-warning mt-5"
                     role="alert"
                     data-i18n-static="hosting_ssl_regenerate_info_warning"></div>
                <div class="alert alert-info"
                     role="alert"
                     data-ng-bind-html="tr('hosting_ssl_limit_characters_info_warning', [$ctrl.Validator.MAX_DOMAIN_LENGTH])"
                     data-ng-if="!$ctrl.step1.canOrderLetEncryptCertificate"></div>
                <div class="alert alert-warning"
                     role="alert"
                     data-ng-if="$ctrl.step1.cannotOrderPaidCertificateErrorMessage !== undefined"
                     data-ng-bind="$ctrl.step1.cannotOrderPaidCertificateErrorMessage"></div>
            </div>
        </div>

        <div data-wizard-step
             data-wizard-step-on-load="onStep2Load"
             data-wizard-step-valid="$ctrl.isStep2Valid()">
            <form data-ng-if="$ctrl.global.selectedCertificateType === $ctrl.certificateTypes.import">
                <label class="oui-label"
                        for="importCertificateContent"
                        data-i18n-static="hosting_dashboard_ssl_order_manual_mode_certif"></label>
                <textarea class="oui-textarea"
                            id="importCertificateContent"
                            rows="7"
                            data-ng-model="$ctrl.step2.importedCertificate.content"
                            required></textarea>
                <label class="oui-label"
                        for="importCertificateKey"
                        data-i18n-static="hosting_dashboard_ssl_order_manual_mode_key"></label>
                <textarea class="oui-textarea"
                            id="importCertificateKey"
                            rows="7"
                            data-ng-model="$ctrl.step2.importedCertificate.key"
                            required></textarea>
                <label class="oui-label"
                        for="importCertificateChain"
                        data-i18n-static="hosting_dashboard_ssl_order_manual_mode_chain"></label>
                <textarea class="form-control"
                            id="importCertificateChain"
                            rows="7"
                            data-ng-model="$ctrl.step2.importedCertificate.chain"></textarea>
            </form>

            <div data-ng-if="$ctrl.global.selectedCertificateType === $ctrl.certificateTypes.paid">
                <div class="text-center" data-ng-if="$ctrl.step2.loading.isGeneratingOrderForm">
                    <oui-spinner></oui-spinner>
                </div>

                <p data-ng-if="!$ctrl.step2.loading.isGeneratingOrderForm" data-i18n-static="hosting_dashboard_ssl_order_preamble"></p>
            </div>
        </div>
    </div>
</div>
