<div data-ng-controller="HostingOrderSslCtrl as ctrl">
    <div data-wizard
         data-wizard-bread-crumb
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="makeOrder"
         data-wizard-title="i18n.hosting_dashboard_service_order_ssl">

        <div data-wizard-step
             data-wizard-step-valid="ctrl.sslType != null"
             data-wizard-step-on-next="createCertif">

            <form name="hostingOrderSslForm">
                <div class="oui-radio">
                    <input type="radio" class="oui-radio__input" id="sslType-free" name="sslType" value="letsencrypt"
                           data-ng-disabled="!ctrl.validDomain"
                           data-ng-model="ctrl.sslType">
                    <label class="oui-radio__label-container" for="sslType-free">
                        <span class="oui-radio__label"
                              data-i18n-static="hosting_dashboard_ssl_order_free"></span>
                    </label>
                </div>
                <div class="oui-radio">
                    <input type="radio" class="oui-radio__input" id="sslType-payable" name="sslType" value="payable"
                           data-ng-model="ctrl.sslType">
                    <label class="oui-radio__label-container" for="sslType-payable">
                        <span class="oui-radio__label"
                              data-i18n-static="hosting_dashboard_ssl_order_payable"></span>
                    </label>
                </div>
                <div class="oui-radio">
                    <input type="radio" class="oui-radio__input" id="sslType-import" name="sslType" value="import"
                           data-ng-model="ctrl.sslType">
                    <label class="oui-radio__label-container" for="sslType-import">
                        <span class="oui-radio__label"
                              data-i18n-static="hosting_dashboard_ssl_order_import"></span>
                    </label>
                </div>
            </form>

            <div class="alert alert-warning mt-5" role="alert"
                 data-i18n-static="hosting_ssl_regenerate_info_warning">
            </div>
            <div class="alert alert-info" role="alert"
                 data-ng-bind-html="tr('hosting_ssl_limit_characters_info_warning', [ctrl.Validator.MAX_DOMAIN_LENGTH])">
            </div>
        </div>


        <div data-wizard-step
             data-wizard-step-on-load="checkMultisitesSSL"
             data-wizard-step-on-next="generateCertif"
             data-wizard-step-valid="ctrl.isStepOneValid()">

            <div class="text-center" data-ng-if="ctrl.loading.init || ctrl.loading.duration || ctrl.loading.generateCertif">
                <oui-loader inline="true"></oui-loader>
            </div>

            <!-- FREE CERTIFICATE -->
            <div data-ng-if="!(ctrl.loading.init || ctrl.loading.duration || ctrl.loading.generateCertif)">
                <div data-ng-if="ctrl.sslType === 'import'">
                    <p data-i18n-static="hosting_dashboard_ssl_order_choose_mode"></p>
                    <form name="hostingOrderSslImportForm">
                        <label class="oui-label" for="manualModeCertif"
                               data-i18n-static="hosting_dashboard_ssl_order_manual_mode_certif"></label>
                        <textarea class="oui-textarea" id="manualModeCertif" rows="7"
                                  data-ng-model="ctrl.manualMode.certificate">
                        </textarea>
                        <label class="oui-label" for="manualModeKey"
                               data-i18n-static="hosting_dashboard_ssl_order_manual_mode_key"></label>
                        <textarea class="oui-textarea" id="manualModeKey" rows="7"
                                  data-ng-model="ctrl.manualMode.key">
                        </textarea>
                        <label class="oui-label" for="manualModeChain"
                               data-i18n-static="hosting_dashboard_ssl_order_manual_mode_chain"></label>
                        <textarea class="form-control" id="manualModeChain" rows="7"
                                  data-ng-model="ctrl.manualMode.chain">
                        </textarea>
                    </form>
                </div>
                <p data-ng-if="ctrl.sslType === 'payable'"
                   data-i18n-static="hosting_dashboard_ssl_order_pay"></p>
            </div>
        </div>

        <div data-wizard-step
             data-wizard-step-valid="!ctrl.loading.order">
            <div class="text-center" data-ng-if="ctrl.loading.order">
                <oui-loader inline="true"></oui-loader>
            </div>
            <p data-i18n-static="hosting_dashboard_ssl_order_validation"
               data-ng-if="!ctrl.loading.order"></p>
        </div>
    </div>
</div>
