<div class="container-fluid px-0" data-ng-controller="HostingTabDomainsCtrl">

    <div class="text-center" data-ng-if="loading.init">
        <oui-loader size="l" inline="true"></oui-loader>
    </div>

    <div class="row" data-ng-show="!loading.init">
        <div class="col-md-9">
            <div data-ovh-alert="{{alerts.main}}"></div>

            <div class="alert alert-info" role="alert"
                 data-i18n-static="hosting_tab_DOMAINS_table_empty"
                 data-ng-if="!loading.init && !hasResult">
            </div>

            <div data-ng-if="!loading.init && hasResult">
                <div class="mb-3">
                    <form class="form-inline d-md-flex justify-content-md-end" name="hostingMultisiteSearchForm">
                        <div class="form-group">
                            <label class="sr-only" for="searchMultisiteHosting"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="searchMultisiteHosting" name="searchMultisiteHosting" placeholder="{{::i18n.hosting_tab_DOMAINS_search_placeholder}}"
                                       data-ng-disabled="domainsLoading"
                                       data-ng-model="search.text"
                                       data-ng-model-options='{ debounce: 800 }'>
                                <div class="input-group-btn" data-ng-if="search.text">
                                    <button class="btn btn-default" type="button" aria-label="{{i18n.common_cancel}}"
                                            data-ng-click="search.text = ''"
                                            data-ng-disabled="domainsLoading">
                                        <span class="fa fa-times" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <span class="input-group-addon"
                                      data-ng-if="!search.text">
                                <span class="fa fa-search" aria-hidden="true"></span>
                            </span>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" data-i18n-static="hosting_tab_DOMAINS_table_header_domain"></th>
                                <th scope="col" data-i18n-static="hosting_tab_DOMAINS_table_header_home"></th>
                                <th class="text-center" scope="col" data-i18n-static="hosting_tab_DOMAINS_table_header_ownlog"></th>
                                <th class="text-center" scope="col" data-i18n-static="hosting_tab_DOMAINS_table_header_firewall"></th>
                                <th class="text-center" scope="col" data-i18n-static="hosting_tab_DOMAINS_table_header_cdn" data-ng-if="hosting.hasCdn"></th>
                                <th class="text-center" scope="col" data-i18n-static="hosting_tab_DOMAINS_table_header_ssl"></th>
                                <th class="min-width text-right">
                                    <button class="btn btn-icon" type="button" title="{{tr('hosting_tab_DOMAINS_table_popover_refresh') }}"
                                            data-ng-click="loadDomains()"
                                            data-ng-disabled="loading.domains">
                                        <span class="fa fa-refresh" aria-hidden="true"></span>
                                    </button>
                                </th>
                            </tr>
                        </thead>

                        <tbody data-ng-if="loading.domains">
                            <tr>
                                <td class="text-center" colspan="{{hosting.hasCdn ? 7 : 6}}">
                                    <oui-loader inline="true"></oui-loader>
                                </td>
                            </tr>
                        </tbody>

                        <tbody data-ng-if="!loading.domains && domains.list.results.length <= 0">
                            <tr>
                                <td class="text-center" colspan="{{hosting.hasCdn ? 7 : 6}}"
                                    data-i18n-static="table_search_noresult"></td>
                            </tr>
                        </tbody>

                        <tbody data-ng-if="!loading.domains && domains.list.results.length > 0">
                            <tr data-ng-repeat="domain in domains.list.results track by $index">
                                <td class="word-break"
                                    data-ng-bind="domain.displayName"></td>
                                <td data-ng-bind="domain.path"></td>
                                <td class="text-center">
                                    <span class="label"
                                          data-ng-bind="i18n['hosting_tab_DOMAINS_table_cdn_state_' + (domain.ownLog ? 'ACTIVE' : 'NONE')] || domain.ownLog"
                                          data-ng-class="{
                                            'label-success': domain.ownLog,
                                            'label-danger': domain.ownLog === 'NONE' || !domain.ownLog}">
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="label"
                                          data-ng-bind="i18n['hosting_tab_DOMAINS_table_firewall_state_' + domain.firewall] || domain.firewall"
                                          data-ng-class="{
                                            'label-success': domain.firewall === 'ACTIVE',
                                            'label-danger': domain.firewall === 'NONE'}">
                                    </span>
                                </td>
                                <td class="text-center" data-ng-if="hosting.hasCdn">
                                    <span class="label"
                                          data-ng-bind="i18n['hosting_tab_DOMAINS_table_cdn_state_' + domain.cdn] || domain.cdn"
                                          data-ng-class="{
                                            'label-success': domain.cdn === 'ACTIVE',
                                            'label-danger': domain.cdn === 'NONE'}">
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="label"
                                          data-ng-bind="i18n['hosting_tab_DOMAINS_table_ssl_state_' + domain.ssl] || domain.ssl"
                                          data-ng-class="{'label-success': domain.ssl === 2, 'label-danger': domain.ssl === 0, 'label-warning': domain.ssl === 1}"
                                          data-uib-tooltip="{{ domain.ssl === 1 ? tr('hosting_tab_DOMAINS_table_ssl_state_1_tooltip') : '' }}"
                                          data-tooltip-append-to-body="true">
                                    </span>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-icon" type="button"
                                            data-linkedpopover="hosting/popover/multisite.html"
                                            data-linkedpopover-placement="left"
                                            data-linkedpopover-single="true"
                                            data-linkedpopover-remote="true"
                                            data-linkedpopover-title="{{i18n.common_actions}}"
                                            data-domain-index="{{$index}}">
                                        <span class="oui-icon oui-icon-gear_line oui-icon_small" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div data-ng-show="hasResult"
                 data-pagination-server-side
                 data-pagination-server-side-function="loadDomains"
                 data-pagination-server-side-paginated-stuff="domains"
                 data-pagination-server-side-table-loading="loading.domains">
            </div>

            <div class="my-5">
                <button class="oui-button oui-button_dropdown mb-0"
                        data-ng-click="showOvhControl = !showOvhControl">
                    <span data-i18n-static="hosting_tab_DOMAINS_configuration_ovhcontrol"></span>
                    <span class="oui-icon" aria-hidden="true" data-ng-class="{'oui-icon-chevron-down': !showOvhControl, 'oui-icon-chevron-up': showOvhControl}"></span>
                </button>
                <div class="animated fadeIn mt-4" data-ng-show="showOvhControl">
                    <p data-i18n-static="hosting_tab_DOMAINS_configuration_ovhcontrol_info"></p>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th scope="col" data-i18n-static="hosting_tab_DOMAINS_configuration_ovhcontrol_table_subdomain"></th>
                                <th scope="col" data-i18n-static="hosting_tab_DOMAINS_configuration_ovhcontrol_table_domain"></th>
                                <th scope="col" data-i18n-static="hosting_tab_DOMAINS_configuration_ovhcontrol_table_ttl"></th>
                                <th scope="col" data-i18n-static="hosting_tab_DOMAINS_configuration_ovhcontrol_table_type"></th>
                                <th scope="col" data-i18n-static="hosting_tab_DOMAINS_configuration_ovhcontrol_table_target"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ovhcontrol</td>
                                <td>example.com</td>
                                <td>0</td>
                                <td>TXT</td>
                                <td data-ng-bind="hosting.token"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <aside class="col-md-3 mt-5 mt-lg-0">
            <div class="mb-5">
                <button type="button" class="btn btn-block btn-default text-wrap" title="{{i18n.hosting_tab_DOMAINS_configuration_attachDomain_title_button}}"
                        data-i18n-static="hosting_tab_DOMAINS_configuration_attachDomain_title_button"
                        data-ng-click="setAction('multisite/add/hosting-multisite-add', {domains: domains})">
                </button>
                <button type="button" class="btn btn-block btn-default text-wrap" title="{{i18n.hosting_ssl_regenerate_title_button}}"
                        data-i18n-static="hosting_ssl_regenerate_title_button"
                        data-uib-tooltip="{{ssl && (ssl.status === 'deleting' || ssl.status === 'regenerating' || ssl.status === 'creating') ? tr('hosting_dashboard_service_ssl_' + ssl.status) : ''}}"
                        data-ng-click="setAction(ssl ? 'ssl/regenerate/hosting-ssl-regenerate' : 'ssl/order/hosting-order-ssl')"
                        data-ng-disabled="ssl && (ssl.status === 'deleting' || ssl.status === 'regenerating' || ssl.status === 'creating')"
                        data-ng-if="!hosting.hasHostedSsl">
                </button>
            </div>

            <div data-guides
                 data-guides-title="tr('guide_add_subtitle')"
                 data-guides-list="'hostingGuidesTips'"
                 data-tr="tr">
            </div>
        </aside>
    </div>
</div>
