<div class="row" data-ng-controller="EmailDomainEmailFilterCtrl as ctrlEmailDomainEmailFilter">
    <div class="col-md-9">
        <div class="d-flex mb-3">
            <button class="btn btn-default my-auto"
                    type="button"
                    data-ng-click="ctrlEmailDomainEmail.resetInitialView()">
                <span class="fa fa-chevron-left mr-2" aria-hidden="true"></span>
                <span data-i18n-static="email_tab_button_emails_filters_back"></span>
            </button>
            <h2 class="d-inline ml-4 mb-0">
                <span data-i18n-static="email_tab_filters_management_heading"></span>
                <strong data-ng-bind="ctrlEmailDomainEmailFilter.currentAccount.accountName"></strong>
            </h2>
        </div>

        <div class="loader text-center" data-ng-if="ctrlEmailDomainEmailFilter.loading.filters"></div>

        <div class="alert alert-info mt-4"
             role="alert"
             data-i18n-static="email_tab_table_filters_empty"
             data-ng-if="!ctrlEmailDomainEmailFilter.loading.filters && !ctrlEmailDomainEmailFilter.filters.length">
        </div>

        <div class="table-responsive" data-ng-if="!ctrlEmailDomainEmailFilter.loading.filters && ctrlEmailDomainEmailFilter.filters.length > 0">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col" data-i18n-static="email_tab_table_header_filter_name"></th>
                        <th scope="col" class="text-center" data-i18n-static="email_tab_table_header_filter_priority"></th>
                        <th scope="col" class="text-center" data-i18n-static="emails_common_status"></th>
                        <th scope="col" class="min-width text-right">
                            <button class="btn btn-icon"
                                    type="button"
                                    title="{{::i18n.email_tab_table_header_refresh}}"
                                    data-ng-click="ctrlEmailDomainEmailFilter.refreshTableFilters()">
                                <span class="fa fa-refresh" aria-hidden="true"></span>
                            </button>
                        </th>
                    </tr>
                </thead>

                <!--filters-->
                <tbody>
                    <tr data-ng-repeat="filter in (ctrlEmailDomainEmailFilter.filtersDetails | orderBy:'name') track by $index">
                        <td data-ng-bind="::filter.name"></td>
                        <td class="text-center" data-ng-bind="::filter.priority"></td>
                        <td class="text-center">
                            <span class="label"
                                  data-ng-class="{'label-success': filter.active, 'label-danger': !filter.active}"
                                  data-ng-bind="tr('email_tab_filters_status_' + filter.active)"></span>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-icon"
                                    type="button"
                                    data-linkedpopover="email-domain/email/filter/email-domain-email-filter.popover.html"
                                    data-linkedpopover-placement="left"
                                    data-linkedpopover-remote="true"
                                    data-linkedpopover-single="true"
                                    data-linkedpopover-title="{{i18n.common_actions}}">
                                <span class="oui-icon oui-icon-gear_line oui-icon_small" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="clearfix"
             data-ng-if="ctrlEmailDomainEmailFilter.filters"
             data-ng-show="!ctrlEmailDomainEmailFilter.loading.filters && ctrlEmailDomainEmailFilter.filters.length > 0"
             data-pagination-front
             data-items="ctrlEmailDomainEmailFilter.filters"
             data-paginated-items="ctrlEmailDomainEmailFilter.filtersDetails"
             data-current-page="currentPageFilters"
             data-nb-pages="nbPages"
             data-items-per-page="itemsPerPage"
             data-transform-item="ctrlEmailDomainEmailFilter.transformItem(item)"
             data-on-transform-item-done="ctrlEmailDomainEmailFilter.onTransformItemDone()"
             data-page-placeholder="{{tr('pagination_page', [currentPageFilters, nbPages])}}"
             data-item-per-page-placeholder="{{tr('pagination_display')}}"></div>
    </div>

    <div class="col-md-3 mt-5 mt-lg-0">
        <div class="mb-5">
            <button class="btn btn-block btn-default"
                    type="button"
                    data-ng-click="setAction('email-domain/email/filter/create/email-domain-email-filter-create', {
                        account: ctrlEmailDomainEmailFilter.currentAccount,
                        accounts: ctrlEmailDomainEmail.emails,
                        filterNames: ctrlEmailDomainEmailFilter.filters
                    })">
                <span data-i18n-static="email_tab_button_emails_create_filter"></span>
            </button>
        </div>
        <div class="mb-5"
             data-guides
             data-guides-title="tr('guide_subtitle')"
             data-guides-list="'emailsFilter'"
             data-tr="tr"></div>
    </div>
</div>
