<div class="row" data-ng-controller="EmailDomainEmailFilterCtrl as ctrlEmailDomainEmailFilter">
    <div class="col-md-9">
        <div data-ovh-alert="{{alerts.main}}"></div>

        <button class="oui-button oui-button_link oui-button_icon-left" type="button"
                data-ng-click="ctrlEmailDomainEmail.resetInitialView()">
            <span class="oui-icon oui-icon-chevron-left" aria-hidden="true"></span>
            <span data-i18n-static="common_back"></span>
        </button>
        <h2>
            <span data-i18n-static="email_tab_filters_management_heading"></span>
            <strong data-ng-bind="ctrlEmailDomainEmailFilter.currentAccount.accountName"></strong>
        </h2>

        <oui-loader size="l" data-ng-if="ctrlEmailDomainEmailFilter.loading.filters"></oui-loader>

        <div data-ng-if="!ctrlEmailDomainEmailFilter.loading.filters">
            <div class="alert alert-info" role="alert"
                 data-i18n-static="email_tab_table_filters_empty"
                 data-ng-if="!ctrlEmailDomainEmailFilter.filters.length">
            </div>

            <div class="table-responsive" data-ng-if="ctrlEmailDomainEmailFilter.filters.length > 0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" data-i18n-static="email_tab_table_header_filter_name"></th>
                            <th scope="col" class="text-center" data-i18n-static="email_tab_table_header_filter_priority"></th>
                            <th scope="col" class="text-center" data-i18n-static="emails_common_status"></th>
                            <th scope="col" class="min-width text-right">
                                <button class="btn btn-icon" type="button" title="{{::i18n.email_tab_table_header_refresh}}"
                                        data-ng-click="ctrlEmailDomainEmailFilter.refreshTableFilters()">
                                    <span class="fa fa-refresh" aria-hidden="true"></span>
                                </button>
                            </th>
                        </tr>
                    </thead>

                    <!--filters-->
                    <tbody>
                        <tr data-ng-repeat="filter in (ctrlEmailDomainEmailFilter.filtersDetails | orderBy:'name') track by $index">
                            <td data-ng-bind="::filter.name"></td>
                            <td class="text-center" data-ng-bind="::filter.priority"></td>
                            <td class="text-center">
                                <span class="label"
                                      data-ng-class="{'label-success': filter.active, 'label-danger': !filter.active}"
                                      data-ng-bind="tr('email_tab_filters_status_' + filter.active)"></span>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-icon" type="button"
                                        data-linkedpopover="email-domain/email/filter/email-domain-email-filter.popover.html"
                                        data-linkedpopover-placement="left"
                                        data-linkedpopover-remote="true"
                                        data-linkedpopover-single="true"
                                        data-linkedpopover-title="{{i18n.common_actions}}">
                                    <span class="oui-icon oui-icon-gear_line oui-icon_small" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="clearfix"
             data-ng-if="ctrlEmailDomainEmailFilter.filters">
            <div data-pagination-front
                 data-items="ctrlEmailDomainEmailFilter.filters"
                 data-paginated-items="ctrlEmailDomainEmailFilter.filtersDetails"
                 data-current-page="currentPageFilters"
                 data-nb-pages="nbPages"
                 data-items-per-page="itemsPerPage"
                 data-transform-item="ctrlEmailDomainEmailFilter.transformItem(item)"
                 data-on-transform-item-done="ctrlEmailDomainEmailFilter.onTransformItemDone()"
                 data-page-placeholder="{{tr('pagination_page', [currentPageFilters, nbPages])}}"
                 data-item-per-page-placeholder="{{tr('pagination_display')}}"
                 data-ng-show="!ctrlEmailDomainEmailFilter.loading.filters && ctrlEmailDomainEmailFilter.filters.length > 0">
            </div>
        </div>
    </div>

    <div class="col-md-3 mt-5 mt-lg-0">
        <div class="mb-5">
            <button class="btn btn-block btn-default" type="button"
                    data-i18n-static="email_tab_button_emails_create_filter"
                    data-ng-click="setAction('email-domain/email/filter/create/email-domain-email-filter-create', {
                        account: ctrlEmailDomainEmailFilter.currentAccount,
                        accounts: ctrlEmailDomainEmail.emails,
                        filterNames: ctrlEmailDomainEmailFilter.filters
                    })">
            </button>
        </div>
        <div data-guides
             data-guides-title="tr('guide_subtitle')"
             data-guides-list="'emailsFilter'"
             data-tr="tr"></div>
    </div>
</div>
