<div class="row" data-ng-controller="EmailDomainEmailFilterCtrl as ctrlEmailDomainEmailFilter">
    <div class="col-md-9">
        <div data-ovh-alert="{{alerts.main}}"></div>

        <button class="oui-button oui-button_link oui-button_icon-left" type="button"
                data-ng-click="ctrlEmailDomainEmail.resetInitialView()">
            <span class="oui-icon oui-icon-chevron-left" aria-hidden="true"></span>
            <span data-i18n-static="common_back"></span>
        </button>
        <h2>
            <span data-i18n-static="email_tab_filters_management_heading"></span>
            <strong data-ng-bind="ctrlEmailDomainEmailFilter.currentAccount.accountName"></strong>
        </h2>

        <oui-datagrid data-rows="ctrlEmailDomainEmailFilter.filters"
                      data-row-loader="ctrlEmailDomainEmailFilter.transformItem($row)">
            <oui-column data-title="tr('email_tab_table_header_filter_name')" data-property="name" data-sortable="asc"></oui-column>
            <oui-column data-title="tr('email_tab_table_header_filter_priority')" data-property="priority" data-sortable></oui-column>
            <oui-column data-title="tr('emails_common_status')">
                <span class="label"
                      data-ng-class="{'label-success': $row.active, 'label-danger': !$row.active}"
                      data-ng-bind="tr('email_tab_filters_status_' + $row.active)"></span>
            </oui-column>
            <oui-action-menu data-align="end" data-compact>
                <oui-action-menu-item data-text="{{i18n.email_tab_popover_filter_edit}}"
                                      data-on-click="setAction('email-domain/email/filter/edit/email-domain-email-filter-edit', {
                                          account: ctrlEmailDomainEmailFilter.currentAccount,
                                          filter: $row,
                                          accounts: ctrlEmailDomainEmail.emails
                                      })">
                </oui-action-menu-item>
                <oui-action-menu-item data-text="{{i18n.email_tab_popover_filter_delete}}"
                                      data-on-click="setAction('email-domain/email/filter/delete/email-domain-email-filter-delete', {
                                          account: ctrlEmailDomainEmailFilter.currentAccount,
                                          filter: $row
                                      })">
                </oui-action-menu-item>
            </oui-action-menu>
        </oui-datagrid>
    </div>

    <div class="col-md-3 mt-5 mt-lg-0">
        <div class="mb-5">
            <button class="btn btn-block btn-default" type="button"
                    data-i18n-static="email_tab_button_emails_create_filter"
                    data-ng-click="setAction('email-domain/email/filter/create/email-domain-email-filter-create', {
                        account: ctrlEmailDomainEmailFilter.currentAccount,
                        accounts: ctrlEmailDomainEmail.emails,
                        filterNames: ctrlEmailDomainEmailFilter.filters
                    })">
            </button>
        </div>
        <div data-guides
             data-guides-title="tr('guide_subtitle')"
             data-guides-list="'emailsFilter'"
             data-tr="tr"></div>
    </div>
</div>
