
<div data-ovh-alert="{{alerts.main}}"></div>

<div class="alert alert-info" role="alert"
     data-ng-if="hosting.offer === 'START_10_M'">
    <div>
        <p data-i18n-static="hosting_dashboard_service_change_offer_explanation"></p>
        <ul class="mb-3">
            <li data-i18n-static="hosting_dashboard_service_change_offer_explanation_ftp"></li>
            <li data-i18n-static="hosting_dashboard_service_change_offer_explanation_mail"></li>
            <li data-i18n-static="hosting_dashboard_service_change_offer_explanation_db"></li>
        </ul>
        <button class="btn btn-info" type="button"
                data-i18n-static="hosting_dashboard_service_change_offer_now"
                data-ng-click="setAction('offer/upgrade/hosting-offer-upgrade')">
        </button>
    </div>
</div>

<div class="alert alert-info" role="alert"
     data-ng-if="!displayTabs.databases">
    <div>
        <p class="mb-3" data-i18n-static="hosting_change_offer_for_service"></p>
        <button class="btn btn-info" type="button"
                data-i18n-static="hosting_dashboard_service_change_offer"
                data-ng-click="setAction('offer/upgrade/hosting-offer-upgrade', hosting)">
        </button>
    </div>
</div>

<div data-ng-if="displayTabs.databases">

    <div class="text-center" data-ng-if="loading.init">
        <oui-loader size="l" inline="true"></oui-loader>
    </div>

    <div data-ng-if="!loading.init">
        <p data-i18n-static="hosting_tab_DATABASES_configuration_quota_info_calculation_period"></p>
        <p data-i18n-static="hosting_tab_DATABASES_configuration_quota_warning_message"></p>
        <p data-i18n-static="hosting_tab_DATABASES_configuration_quota_warning_resolution"></p>

        <div data-ng-if="!hasResult">
            <button class="oui-button oui-button_secondary" type="button"
                    data-i18n-static="hosting_tab_DATABASES_configuration_create_title_button"
                    data-ng-click="setAction('database/add/hosting-database-add')"
                    data-ng-disabled="!canCreateDatabase">
            </button>

            <div class="alert alert-info" role="alert"
                 data-i18n-static="hosting_tab_DATABASES_table_empty">
            </div>
        </div>

        <div class="mt-5"
             data-ng-if="hasResult">
            <div class="row mb-3">
                <div class="col-xs-6">
                    <div class="btn-group">
                        <button type="button" class="oui-button oui-button_dropdown mb-0" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                            <span data-i18n-static="common_actions">Actions</span>
                            <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu m-0 p-0">
                            <li data-uib-tooltip="{{::i18n.hosting_tab_DATABASES_configuration_create_step1_no_db_left}}"
                                data-tooltip-enable="!canCreateDatabase">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <button class="btn btn-link" type="button"
                                        data-i18n-static="hosting_tab_DATABASES_configuration_create_title_button"
                                        data-ng-click="setAction('database/add/hosting-database-add')"
                                        data-ng-disabled="!canCreateDatabase">
                                </button>
                            </li>
                            <li>
                                <i class="ovh-font ovh-font-cart" aria-hidden="true"></i>
                                <a class="btn btn-link"
                                   data-i18n-static="hosting_tab_DATABASES_configuration_order_title_button"
                                   data-ui-sref="app.sql-order({orderType: 'private', currentHosting: hosting.serviceName})">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6">
                    <form class="form-inline d-md-flex justify-content-md-end" name="searchDatabaseForm">
                        <div class="form-group">
                            <label class="sr-only" for="searchDatabase"
                                   data-ng-i18n-static="common_search"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="searchDatabase" name="searchDatabase" placeholder="{{::i18n.hosting_tab_DOMAINS_search_placeholder}}"
                                       data-ng-model="search.text"
                                       data-ng-model-options='{ debounce: 800 }'>
                                <div class="input-group-btn" data-ng-if="search.text">
                                    <button class="btn btn-default" type="button" aria-label="{{i18n.common_cancel}}"
                                            data-ng-click="search.text = ''">
                                        <span class="fa fa-times" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <span class="input-group-addon"
                                      data-ng-if="!search.text">
                                <span class="fa fa-search" aria-hidden="true"></span>
                            </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" data-i18n-static="hosting_tab_DATABASES_table_header_name"></th>
                        <th scope="col" data-i18n-static="hosting_tab_DATABASES_table_header_database_name"></th>
                        <th scope="col" data-i18n-static="hosting_tab_DATABASES_table_header_server_address"></th>
                        <th scope="col" data-i18n-static="hosting_tab_DATABASES_table_header_size"></th>
                        <th scope="col" data-i18n-static="hosting_tab_DATABASES_table_header_server"></th>
                        <th class="text-center" scope="col" data-i18n-static="hosting_tab_DATABASES_table_header_state"></th>
                        <th class="text-center" scope="col" data-i18n-static="hosting_tab_DATABASES_table_header_backup"></th>
                        <th class="min-width text-right" scope="col">
                            <button class="btn btn-icon" type="button" title="{{i18n.refresh}}"
                                    data-ng-click="reload()"
                                    data-ng-disabled="loading.databases">
                                <span class="fa fa-refresh" aria-hidden="true"></span>
                            </button>
                        </th>
                    </tr>
                    </thead>

                    <tbody data-ng-if="loading.databases">
                    <tr>
                        <td class="text-center" colspan="8">
                            <oui-loader inline="true"></oui-loader>
                        </td>
                    </tr>
                    </tbody>

                    <tbody data-ng-if="!loading.databases && !databases.details.length">
                    <tr>
                        <td class="text-center" colspan="8"
                            data-i18n-static="table_search_noresult"></td>
                    </tr>
                    </tbody>

                    <tbody data-ng-if="!loading.databases">
                    <tr data-ng-repeat="element in databases.details track by $index">
                        <th scope="row" data-ng-bind="element.user"></th>
                        <td data-ng-bind="element.user"></td>
                        <td class="word-break"
                            data-ng-bind="element.name"
                            data-uib-tooltip="{{element.server}}"
                            data-tooltip-append-to-body="true">
                        </td>
                        <td>
                            <div data-ng-if="element.server !== 'local' && !element.quotaCalculating">
                                <div class="oui-progress m-0" style="min-width:200px"
                                     data-ng-class="{
                                        'oui-progress_success': element.quotaStatus === quotaStatusEnum.OK,
                                        'oui-progress_warning': element.quotaStatus === quotaStatusEnum.WARNING,
                                        'oui-progress_error': element.quotaStatus === quotaStatusEnum.DANGER,
                                        'oui-progress_info': element.quotaStatus === quotaStatusEnum.FULL
                                    }">
                                    <div class="oui-progress__bar oui-progress__bar_text-left" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{element.quotaPercent}}"
                                         data-ng-class="{
                                            'oui-progress__bar_success': element.quotaStatus === quotaStatusEnum.OK,
                                            'oui-progress__bar_warning': element.quotaStatus === quotaStatusEnum.WARNING,
                                            'oui-progress__bar_error': element.quotaStatus === quotaStatusEnum.DANGER,
                                            'oui-progress__bar_info': element.quotaStatus === quotaStatusEnum.FULL
                                        }"
                                         data-ng-style="{'width': element.quotaPercentCappedAsText}">
                                        <span class="oui-progress__label" data-ng-bind="element.quotaUsed.asText"></span>
                                    </div>
                                </div>
                            </div>
                            <span data-ng-bind="element.quotaUsedCappedAsText" data-ng-if="element.server === 'local'"></span>
                            <div data-ng-if="element.quotaCalculating">
                                <oui-loader size="s" inline="true"></oui-loader>
                                <span data-i18n-static="hosting_tab_DATABASES_configuration_check_quota_calculating"></span>
                            </div>
                        </td>
                        <td>
                            <span data-ng-bind="element.type"></span>
                            <span data-ng-bind="'v' + formatVersion(element.version)"
                                  data-ng-if="element.version"></span>
                        </td>
                        <td class="text-center"
                            data-ng-bind="element.state"></td>
                        <td class="text-center">
                            <span class="label"
                                  data-ng-class="{'label-success': element.dumpsCount > 0, 'label-default': element.dumpsCount <= 0}"
                                  data-ng-bind="element.dumpsCount">
                            </span>
                            <button class="btn btn-icon" type="button" title="{{element.user}} {{::i18n.hosting_tab_DATABASES_table_popover_dump_edit}}"
                                    data-ng-click="restoreDump(element)"
                                    data-ng-if="element.dumpsCount > 0">
                                <span class="fa fa-edit" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-icon" type="button" title="{{element.user}} {{::i18n.table_manage_entry}}"
                                    data-linkedpopover="hosting/popover/database.html"
                                    data-linkedpopover-placement="left"
                                    data-linkedpopover-single="true"
                                    data-linkedpopover-remote="true"
                                    data-linkedpopover-title="{{i18n.common_actions}}">
                                <span class="oui-icon oui-icon-gear_line oui-icon_small" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="clearfix"
         data-ng-if="databases.ids">
        <div data-pagination-front
             data-items="databases.ids"
             data-paginated-items="databases.details"
             data-current-page="currentPage"
             data-nb-pages="nbPages"
             data-items-per-page="itemsPerPage"
             data-transform-item="transformItem(item)"
             data-on-transform-item-done="onTransformItemDone(items)"
             data-page-placeholder="{{tr('pagination_page', [currentPage, nbPages])}}"
             data-item-per-page-placeholder="{{tr('pagination_display')}}"
             data-on-page-change="loading.databases = true"
             data-ng-show="!loading.init && hasResult">
        </div>
    </div>
</div>
