<div class="container-fluid px-0" data-ng-controller="PrivateDatabaseConfigurationsCtrl as configurationsCtrl">

    <oui-loader size="l" data-ng-if="configurationsCtrl.loading"></oui-loader>

    <div class="row" data-ng-if="!configurationsCtrl.loading">
        <div class="col-md-9">
            <div data-ovh-alert="{{alerts.main}}"></div>

            <div class="alert alert-info" role="alert"
                 data-i18n-static="privateDatabase_configurations_general_postgresql_soon"
                 data-ng-if="configurationsCtrl.database.type === 'postgresql'">
            </div>

            <div data-ng-if="configurationsCtrl.database.type !== 'postgresql'">
                <h2 data-ng-bind-html="tr('privateDatabase_configurations_general_' + configurationsCtrl.database.type)"></h2>

                <div class="alert alert-warning" role="alert"
                     data-i18n-static="privateDatabase_configuration_alert"
                     data-ng-if="configurationsCtrl.edit.value">
                </div>

                <form class="form-horizontal">
                    <div class="form-group mb-md-1" data-ng-repeat="configuration in configurationsCtrl.configurations track by $index">
                        <label class="control-label col-md-4"
                               data-ng-attr-for="{{configurationsCtrl.edit.value && (configuration.key + 'Field') || null}}">
                            <span class="mr-2" data-ng-bind="configuration.key"></span>
                            <span class="fa fa-info-circle"
                                  data-simplepopover="{{configuration.description}}"
                                  data-simplepopover-placement="right"
                                  data-simplepopover-single="true"
                                  data-simplepopover-title="{{configuration.key}}"></span> :
                        </label>
                        <div class="col-md-8">
                            <span class="d-block form-control-static"
                                  data-ng-if="!configurationsCtrl.edit.value">
                                <span data-ng-bind="configuration.value"></span>
                                <span data-i18n-static="{{'unit_configuration_' + configuration.unit}}" data-ng-if="configuration.unit"></span>
                            </span>
                            <div class="oui-select oui-select_inline" data-ng-if="configurationsCtrl.edit.value">
                                <select class="oui-select__input" name="{{configuration.key}}"
                                        data-ng-attr-id="{{configuration.key + 'Field'}}"
                                        data-ng-model="configuration.value"
                                        data-ng-options="conf for conf in configuration.availableValues">
                                </select>
                                <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-3 mt-5 mt-lg-0"
             data-ng-if="configurationsCtrl.database.type !== 'postgresql'">
            <button class="btn btn-block btn-default" type="button"
                    data-i18n-static="privateDatabase_configuration_edit_btn"
                    data-ng-click="configurationsCtrl.edit.value = true"
                    data-ng-disabled="database.expired || isRebooting"
                    data-ng-if="!configurationsCtrl.edit.value">
            </button>
            <button class="btn btn-block btn-primary" type="button"
                    data-i18n-static="privateDatabase_configuration_confirm_btn"
                    data-ng-click="configurationsCtrl.updateConfigurations()"
                    data-ng-disabled="database.expired"
                    data-ng-if="configurationsCtrl.edit.value">
            </button>
            <button class="btn btn-block btn-default" type="button"
                    data-i18n-static="privateDatabase_configuration_cancel_btn"
                    data-ng-click="configurationsCtrl.configurations = configurationsCtrl.baseConfiguration; configurationsCtrl.edit.value = false"
                    data-ng-disabled="database.expired"
                    data-ng-if="configurationsCtrl.edit.value">
            </button>
        </div>
    </div>
</div>
