<div class="container-fluid px-0" data-ng-controller="PrivateDatabaseConfigurationsCtrl as configurationsCtrl">

    <div data-ovh-alert="{{alerts.main}}"></div>

    <div class="text-center" data-ng-if="configurationsCtrl.loading">
        <oui-spinner data-size="l"></oui-spinner>
    </div>

    <div data-ng-if="!configurationsCtrl.loading">

        <div class="alert alert-info" role="alert"
             data-i18n-static="privateDatabase_configurations_general_postgresql_soon"
             data-ng-if="configurationsCtrl.database.type === 'postgresql'">
        </div>
        <div class="alert alert-info" role="alert"
             data-i18n-static="privateDatabase_capability_disabled_explanation"
             data-ng-if="configurationsCtrl.database.type !== 'postgresql' && configurationsCtrl.configurations.length === 0">
        </div>

        <div data-ng-if="configurationsCtrl.configurations.length >= 1">

            <div class="alert alert-warning"
                 role="alert"
                 data-i18n-static="privateDatabase_configuration_alert">
            </div>

            <h2 data-ng-bind-html="tr('privateDatabase_configurations_general_' + configurationsCtrl.database.type)"></h2>

            <form name="db_configuration_form">
                <div data-ng-repeat="configuration in configurationsCtrl.configurations track by $index">
                    <oui-field label="{{configuration.key}}"
                               size="m"
                               ng-if="configuration.type === 'select'"
                               help-text="{{configuration.description}}">
                        <oui-select id="{{configuration.key + 'Field'}}"
                                    name="{{configuration.key + 'Field'}}"
                                    data-title="Select a letter"
                                    model="configuration.selectedValue"
                                    items="configuration.availableValues"
                                    match="text"
                                    required
                                    data-align="start">
                            <span ng-bind="$item.text"></span>
                        </oui-select>
                    </oui-field>
                    <oui-field label="{{configuration.key}}"
                               size="s"
                               ng-if="configuration.type === 'toggle'"
                               help-text="{{configuration.description}}">
                        <oui-radio-toggle-group model="configuration.selectedValue.id" required>
                           <oui-radio ng-repeat="item in configuration.availableValues"
                                      text="{{item.text}}"
                                      value="item.id"></oui-radio>
                        </oui-radio-toggle-group>
                    </oui-field>
                </div>
                <oui-button
                    variant="primary"
                    on-click="configurationsCtrl.updateConfigurations()"
                    text="{{ tr('privateDatabase_configuration_confirm_btn') }}"
                    disabled="db_configuration_form.$pristine">
                </oui-button>
            </form>
        </div>

    </div>
</div>
