//URL PATH
@helpmodalimg : '../assets/images/trigger-help-domains.png';

// --------------------------------------------------
//      CONSTANTS (used in CSS - No change)
// --------------------------------------------------
@animation-time-const : 0.35s;

@univers : #3B4151;
@cloud : #ffd740;
@dedicated : #74b9cd;
@telecom : #4587a7;
@web : #54a89b;
@sunrise : #ff9800;
@partners : #54c7e4;

@blue-boostrap-info : #5bc0de;

@navbar-height : 44px;
@navbar-bg : #122844;
@xs-spacing : 8px;

// --------------------------------------------------
//                DEFAULT Level 0
// --------------------------------------------------

//
// Univers Size (used in CSS)
// -------------------------
@font-size-mini : 11px; // TODO : TO REMOVE WHEN BS3

@button-icon-size : 36px; // TODO : TO REMOVE WHEN BS3

//
// Univers Colors (NOT USE IN CSS, just for this file)
// -------------------------

@green : #54A89B;
@white : #FFFFFF;

@grey1 : #F7F5F6; //search bar color
@grey2 : #EFEFEF; // sidebar background
@grey3 : #DBDBDB; // button, search bar color
@grey4 : #7A7A7A; // default font
@grey5 : #656568; // button font, pagination
@grey6 : #3B3B41;
@grey7 : #3C3C3C; // title font
@grey8 : #cacaca; // shadow box

// --------------------------------------------------
//          DEFAULT Level 1 (USE IN CSS)
// --------------------------------------------------

//
// Default
// -------------------------
@default-font : @grey4;
@default-background : @white;

// --------------------------------------------------
//                DEFAULT Level 2
// --------------------------------------------------

//
// Line table and list
// -------------------------

//Odd and even hover for table and list
@default-line-hover-font : #1A1A1A;

//hover or select line for list, table, dropfownlist
@default-line-selected-background : @green;
@default-line-selected-font : @white;

//
// Buttons
// -------------------------

@default-button-shadow : #CACACA;

//
// Search bar (charts)
// -------------------------
@bar-block-border : @grey3;

//
// Pagination bar
// -------------------------
@default-pagination-active-font : @grey7;


//
// Microsoft
// -------------------------
@exchange-icon-color : #0072c8;
