<div class="popover-menu">
    <button class="btn btn-link" type="button"
            data-i18n-static="hosting_tab_DATABASES_table_popover_update_password"
            data-ng-click="setAction('database/update-password/hosting-database-update-password', element.name)">
    </button>
    <button class="btn btn-link" type="button"
            data-i18n-static="hosting_tab_DATABASES_table_popover_dump"
            data-ng-click="setAction('database/dump/add/hosting-database-dump-add', element.name)">
    </button>
    <button class="btn btn-link" type="button"
            data-i18n-static="hosting_tab_DATABASES_table_popover_dump_restore"
            data-ng-click="ctrlTabDatabases.restoreDump(element)">
    </button>
    <div data-ng-if="element.type === 'MYSQL'">
        <button class="btn btn-link" type="button"
                data-i18n-static="hosting_tab_DATABASES_table_popover_import"
                data-ng-click="setAction('database/import/hosting-database-import', element.name)">
        </button>
        <button class="btn btn-link" type="button"
                data-i18n-static="hosting_tab_DATABASES_table_popover_dump_restore_yesterday"
                data-ng-click="setAction('database/restore/confirm/hosting-database-restore-confirm', { bdd: element, backupType: ctrlTabDatabases.backupType.DAILY })">
        </button>
        <button class="btn btn-link" type="button"
                data-i18n-static="hosting_tab_DATABASES_table_popover_dump_restore_one_week"
                data-ng-click="setAction('database/restore/confirm/hosting-database-restore-confirm', { bdd: element, backupType: ctrlTabDatabases.backupType.WEEKLY })">
        </button>
        <button class="btn btn-link" type="button"
                data-i18n-static="hosting_tab_DATABASES_table_popover_check_quota"
                data-ng-click="ctrlTabDatabases.checkQuota(element)">
        </button>
    </div>
    <button class="btn btn-link" type="button"
            data-i18n-static="hosting_tab_DATABASES_table_popover_delete"
            data-ng-click="setAction('database/delete/hosting-database-delete', element.name)">
    </button>
    <a class="btn btn-link d-inline-block" target="_blank" title="{{ i18n.hosting_tab_DATABASES_table_popover_new_window }}"
       data-i18n-static="hosting_tab_DATABASES_table_popover_phppgadmin"
       data-ng-href="http://phppgadmin.ovh.net/"
       data-ng-if="element.type == 'POSTGRESQL'">
    </a>
    <a class="btn btn-link d-inline-block" target="_blank" title="{{ i18n.hosting_tab_DATABASES_table_popover_new_window }}"
       data-i18n-static="hosting_tab_DATABASES_table_popover_phpmyadmin"
       data-ng-href="{{ ctrlTabDatabases.getPhpMyAdminUrl(element) }}"
       data-ng-if="element.type == 'MYSQL'">
   </a>
</div>
