<div class="popover-menu">
    <button class="btn btn-link" type="button"
            data-i18n-static="hosting_tab_FRAMEWORK_envvar_table_popover_modify"
            data-ng-click="setAction('framework/envvar/add-or-edit/hosting-framework-envvar-add-or-edit', {envvar})"
            data-ng-disabled="envvar.status !== 'created'">
    </button>

    <button class="btn btn-link" type="button"
            data-i18n-static="hosting_tab_FRAMEWORK_envvar_table_popover_delete"
            data-ng-click="setAction('framework/envvar/delete/hosting-framework-envvar-delete', {envvar})"
            data-ng-disabled="envvar.status !== 'created'">
    </button>
</div>
