<div class="popover-menu">
    <button class="btn btn-link" type="button"
            data-i18n-static="hosting_configuration_tab_modules_module_change_password"
            data-ng-click="setAction('module/update-password/hosting-module-update-password', module)"
            data-ng-if="module.template.branch !== 'old'">
   </button>
    <button class="btn btn-link" type="button"
            data-i18n-static="hosting_configuration_tab_modules_module_delete"
            data-ng-click="setAction('module/delete/hosting-module-delete', module)">
   </button>
</div>
