<div class="popover-menu">
    <button class="btn btn-link" type="button"
            data-i18n-static="hosting_tab_FTP_multiftp_table_popover_modify"
            data-ng-click="ctrlHostingTabFTP.modifyUser(element)">
    </button>
    <button class="btn btn-link" type="button"
            data-i18n-static="hosting_tab_FTP_multiftp_table_popover_update_password"
            data-ng-click="setAction('ftp/password-update/hosting-ftp-password-update', element.login)">
    </button>
    <button class="btn btn-link" type="button"
            data-i18n-static="hosting_tab_FTP_multiftp_table_popover_delete"
            data-ng-click="setAction('ftp/user/delete/hosting-ftp-user-delete', element.login)"
            data-ng-disabled="element.login === ctrlHostingTabFTP.ftpInformations.primaryLogin">
    </button>
</div>
