<div class="popover-menu">
    <button class="btn btn-link" type="button"
            data-i18n-static="hosting_tab_USER_LOGS_table_popover_modify"
            data-ng-click="modifyUser(userLogsEntry)">
    </button>
    <button class="btn btn-link" type="button"
            data-i18n-static="hosting_tab_USER_LOGS_table_popover_update_password"
            data-ng-click="updateUserPassword(userLogsEntry)">
    </button>
    <button class="btn btn-link" type="button"
            data-i18n-static="hosting_tab_USER_LOGS_table_popover_delete"
            data-ng-click="deleteUser(userLogsEntry)">
    </button>
</div>
