<div data-ng-controller="PrivateDatabaseCronCreateCtrl">
    <div data-wizard
         data-wizard-bread-crumb="true"
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="saveCron"
         data-wizard-title="title">

        <div data-wizard-step
             data-wizard-step-on-load="init"
             data-wizard-step-valid="isValid(1)">

            <div class="text-center" data-ng-if="loading.init">
                <oui-loader inline="true"></oui-loader>
            </div>

            <form class="form-horizontal" data-ng-if="!loading.init">
                <div class="form-group">
                    <label class="control-label col-md-4 required" for="cronCommand"
                           data-i18n-static="hosting_tab_CRON_label_command"></label>
                    <div class="col-md-6">
                        <select class="form-control" id="cronCommand"
                                data-ng-model="model.command"
                                data-ng-options="command for command in commandEnum">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4 required" for="cronDatabaseName"
                           data-i18n-static="privateDatabase_tabs_cron_label_database_name"></label>
                    <div class="col-md-6">
                        <select class="form-control" id="cronDatabaseName"
                                data-ng-model="model.databaseName"
                                data-ng-options="databaseName for databaseName in databaseNames">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="cronstatus"
                           data-i18n-static="hosting_tab_CRON_label_activate"></label>
                    <div class="col-md-8" data-ng-init="model.status === 'enabled'">
                        <label>
                            <input type="checkbox" id="cronstatus"
                                   data-ng-model="model.status"
                                   data-ng-false-value="'disabled'"
                                   data-ng-true-value="'enabled'">
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label required" for="cronEmail"
                           data-i18n-static="hosting_tab_CRON_label_email"></label>
                    <div class="col-md-6">
                        <select class="form-control" id="cronEmail"
                                data-ng-model="model.emailSelect">
                            <option value="no" data-i18n-static="common_no"></option>
                            <option value="nic-admin" data-i18n-static="hosting_tab_CRON_email_nicadmin"></option>
                            <option value="nic-tech" data-i18n-static="hosting_tab_CRON_email_nictech"></option>
                            <option value="other" data-i18n-static="hosting_tab_CRON_email_other"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group" data-ng-if="model.emailSelect === 'other'">
                    <div class="col-md-8 col-md-offset-4">
                        <input type="email" class="form-control" placeholder="{{::i18n.hosting_tab_CRON_email_other_specify}}"
                               data-ng-model="model.email">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="cronDesc"
                           data-i18n-static="hosting_tab_CRON_label_description"></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="cronDesc"
                               data-ng-model="model.description">
                    </div>
                </div>
            </form>
        </div>

        <div data-wizard-step
             data-wizard-step-valid="isValid(2)">

            <cron-editor crontab-object="crontabObject"></cron-editor>

            <div data-wizard-step-help>
                <cron-expert-help></cron-expert-help>
            </div>
        </div>

        <div data-wizard-step
             data-wizard-step-on-load="generateCron"
             data-wizard-step-valid="!loading.validation">

            <div class="text-center" data-ng-if="loading.validation">
                <oui-loader inline="true"></oui-loader>
            </div>

            <div data-ng-if="!loading.validation">
                <p data-i18n-static="hosting_tab_CRON_step3_title"></p>

                <dl class="dl-horizontal dl-lg">
                    <dt data-i18n-static="hosting_tab_CRON_label_command"></dt>
                    <dd data-ng-bind="model.command"></dd>
                    <dt data-i18n-static="hosting_tab_CRON_label_status"></dt>
                    <dd data-ng-bind="i18n['hosting_tab_CRON_table_status_' + model.status] || model.status"></dd>
                    <dt data-i18n-static="hosting_tab_CRON_label_email"></dt>
                    <dd data-ng-bind="getEmailResume()"></dd>
                    <dt data-i18n-static="hosting_tab_CRON_label_description"></dt>
                    <dd data-ng-bind="model.description || '-'"></dd>
                </dl>

                <cron-simple-summary crontab-object="crontabObject"></cron-simple-summary>

                <dl class="dl-horizontal">
                    <dt data-i18n-static="hosting_tab_CRON_label_crontab"></dt>
                    <dd><code class="text-muted" data-ng-bind="model.frequency"></code></dd>
                </dl>
            </div>
        </div>
    </div>
</div>
