<div data-ng-controller="SqlDatabaseOrderCtrl as sqlOrderCtrl">
    <div class="page-header">
        <h1 data-translate="privateDatabase_order_sql_main_title"></h1>
        <div class="mt-4">
            <p data-translate="privateDatabase_order_sql_sub_title_1"></p>
            <p data-translate="privateDatabase_order_sql_sub_title_2"></p>
        </div>
    </div>

    <div class="container-fluid px-5">
        <div data-ovh-alert="{{alerts.order}}"></div>

        <div class="text-center"
             data-ng-if="sqlOrderCtrl.loading.init">
            <oui-spinner data-size="l"></oui-spinner>
        </div>

        <div class="row" data-ng-if="!sqlOrderCtrl.loading.init">
            <div class="col-md-9">
                <form name="sqlDatabaseOrderForm">
                    <p class="mt-5">
                        <small class="text-danger">*</small>
                        <small data-translate="required_fields"></small>
                    </p>

                    <h2 data-translate="privateDatabase_order_sql_type_title"></h2>

                    <fieldset>
                        <legend class="border-0"
                                data-translate="privateDatabase_order_sql_type_sub_title"></legend>

                        <div class="oui-radio" data-ng-repeat="item in sqlOrderCtrl.data track by $index">
                            <input type="radio" class="oui-radio__input" name="sql_type" id="sqlType-{{$index}}" required
                                   data-ng-change="sqlOrderCtrl.changeType()"
                                   data-ng-disabled="item.key ==='start' && (!item.hostings || item.hostings.length === 0)"
                                   data-ng-model="sqlOrderCtrl.model.type"
                                   data-ng-value="item.offer">
                            <label class="oui-radio__label-container" for="sqlType-{{$index}}">
                                <span class="oui-radio__label">
                                    <span data-ng-bind-html="'privateDatabase_order_sql_type_' + item.key + '_label' | translate"></span>
                                    <span class="fa fa-question-circle"
                                          data-uib-tooltip-template="'private-database/order/tooltip/sql-database-order-' + item.key + '.html'"></span>
                                </span>
                            </label>
                        </div>
                    </fieldset>

                    <h2 class="mt-5" data-translate="privateDatabase_order_sql_customize_title"></h2>

                    <!-- dbPack -->
                    <div data-ng-if="sqlOrderCtrl.isStart()">
                        <label class="required" for="startDbVersion"
                               data-translate="privateDatabase_order_sql_domains_pack_title"></label>
                        <div class="oui-select oui-select_inline">
                            <select class="oui-select__input" id="startDbVersion" name="startDbVersion" required
                                    data-ng-change="sqlOrderCtrl.getDuration()"
                                    data-ng-model="sqlOrderCtrl.model.dbPack"
                                    data-ng-options="version as ((('privateDatabase_order_sql_domains_pack_db_' + version.replace('.', '') | translate) == 'privateDatabase_order_sql_domains_pack_db_' + version.replace('.', ''))? version: ('privateDatabase_order_sql_domains_pack_db_' + version.replace('.', '') | translate)) for version in sqlOrderCtrl.getData(sqlOrderCtrl.model.type).dbPack track by version">
                                <option value="" disabled
                                        data-translate="select_option"></option>
                            </select>
                            <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                        </div>
                        <div class="alert alert-warning" role="alert"
                             data-translate="privateDatabase_order_sql_type_start_hosting_info">
                        </div>
                    </div>

                    <!-- version -->
                    <div data-ng-if="sqlOrderCtrl.isCloudDbOrPrivateDb()">
                        <label class="required" for="orderVersion"
                               data-translate="privateDatabase_order_step1_version"></label>
                        <div class="oui-select oui-select_inline">
                            <select class="oui-select__input" id="orderVersion" name="orderVersion" required
                                    data-ng-change="sqlOrderCtrl.getDuration()"
                                    data-ng-model="sqlOrderCtrl.model.version"
                                    data-ng-options="version as ((('privateDatabase_dashboard_version_' + version.replace('.', '') | translate) == 'privateDatabase_dashboard_version_' + version.replace('.', ''))? version: ('privateDatabase_dashboard_version_' + version.replace('.', '') | translate)) for version in sqlOrderCtrl.getData(sqlOrderCtrl.model.type).versions track by version">
                                <option value="" disabled
                                        data-translate="select_option"></option>
                            </select>
                            <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                        </div>
                    </div>

                    <!-- ram -->
                    <div data-ng-if="sqlOrderCtrl.isCloudDbOrPrivateDb()">
                        <label class="required" for="orderRam"
                               data-translate="privateDatabase_order_step1_ram"></label>
                        <div class="oui-select oui-select_inline">
                            <select class="oui-select__input" id="orderRam" name="orderRam" required
                                    data-ng-change="sqlOrderCtrl.getDuration()"
                                    data-ng-model="sqlOrderCtrl.model.ram"
                                    data-ng-options="ramSize + ('unit_size_MB' | translate) for ramSize in sqlOrderCtrl.getData(sqlOrderCtrl.model.type).rams track by ramSize">
                                <option value="" disabled
                                        data-translate="select_option"></option>
                            </select>
                            <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                        </div>
                    </div>

                    <!-- hosting -->
                    <div data-ng-if="!sqlOrderCtrl.isCloudDb()">
                        <label class="required" for="orderHosting"
                               data-translate="privateDatabase_order_step1_hosting"></label>
                        <div class="oui-select oui-select_inline">
                            <select class="oui-select__input" id="orderHosting" name="orderHosting" required
                                    data-ng-change="sqlOrderCtrl.setDatacenter(); sqlOrderCtrl.getDuration()"
                                    data-ng-model="sqlOrderCtrl.selectectedHosting"
                                    data-ng-options="hosting.displayName for hosting in sqlOrderCtrl.getData(sqlOrderCtrl.model.type).hostings | orderBy:'displayName'">
                                <option value="" disabled
                                        data-translate="select_option"></option>
                            </select>
                            <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                        </div>
                        <div class="alert alert-warning" role="alert"
                             data-translate="privateDatabase_order_step1_hosting_warning"
                             data-ng-if="sqlOrderCtrl.isPrivateDb() && sqlOrderCtrl.model.datacenter">
                        </div>
                    </div>

                    <!-- DataCenter -->
                    <div data-ng-if="(sqlOrderCtrl.isPrivateDb() && sqlOrderCtrl.model.hosting === sqlOrderCtrl.noHostValue) || sqlOrderCtrl.isCloudDb()">
                        <label class="required" for="orderDc"
                               data-translate="privateDatabase_order_step1_datacenter"></label>
                        <div class="oui-select oui-select_inline">
                            <select class="oui-select__input" id="orderDc" name="orderDc" required
                                    data-ng-change="sqlOrderCtrl.getDuration()"
                                    data-ng-model="sqlOrderCtrl.model.datacenter"
                                    data-ng-options="dc as ('privateDatabase_dashboard_datacenter_' + dc | translate) for dc in sqlOrderCtrl.getData(sqlOrderCtrl.model.type).datacenters track by dc">
                                <option value="" disabled
                                        data-translate="select_option"></option>
                            </select>
                            <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                        </div>
                        <div class="alert alert-warning" role="alert"
                             data-translate="privateDatabase_order_step1_no_hosting_warning"
                             data-ng-if="sqlOrderCtrl.isPrivateDb() && sqlOrderCtrl.model.hosting === sqlOrderCtrl.noHostValue">
                        </div>
                    </div>

                    <div class="loader mt-5 text-center" data-ng-if="sqlOrderCtrl.loading.durations"></div>

                    <div data-ng-if="!sqlOrderCtrl.loading.durations && sqlOrderCtrl.model.duration">

                        <h2 class="mt-5" data-translate="privateDatabase_order_sql_period_title"></h2>

                        <div role="alert" data-ng-if="sqlOrderCtrl.model.version && sqlOrderCtrl.model.ram"
                             data-ovh-alert="{{alerts.durations}}"
                             data-ovh-alert-hide-remove-button>
                        </div>

                        <fieldset>
                            <legend class="border-0"
                                    data-translate="privateDatabase_order_sql_period_sub_title"></legend>
                            <div class="oui-radio"
                                 data-ng-repeat="duration in sqlOrderCtrl.getData(sqlOrderCtrl.model.type).durations track by $index">
                                <input type="radio" class="oui-radio__input" name="durationRadio[$index]" id="durationRadio-{{$index}}" required
                                       data-ng-click="contractsValidated = false"
                                       data-ng-change="sqlOrderCtrl.resetOrder()"
                                       data-ng-disabled="sqlOrderCtrl.loading.prices || sqlOrderCtrl.durations.length === 1"
                                       data-ng-model="sqlOrderCtrl.model.duration"
                                       data-ng-value="duration.duration">
                                <label class="oui-radio__label-container" for="durationRadio-{{$index}}">
                                    <span class="oui-radio__label">
                                        <span data-ng-bind="duration.duration | duration:'longDate'"></span>&nbsp;:
                                        <span data-ng-bind-html="duration.details.prices | price:sqlOrderCtrl.user.ovhSubsidiary"></span>
                                        <oui-spinner data-size="s"
                                                    data-ng-if="!duration.details.prices"></oui-spinner>
                                    </span>
                                </label>
                            </div>
                        </fieldset>

                        <div data-ng-if="sqlOrderCtrl.model.duration">
                            <h2 class="mt-5" data-translate="privateDatabase_order_sql_contracts_title"></h2>

                            <p data-translate="privateDatabase_order_step3_question"></p>

                            <div data-ng-if="sqlOrderCtrl.getDurationDetails(sqlOrderCtrl.model.type, sqlOrderCtrl.model.duration).contracts.length > 0">
                                <div class="oui-checkbox">
                                    <input type="checkbox" class="oui-checkbox__input" id="contractsValidated" name="contractsValidated" required
                                           data-ng-model="sqlOrderCtrl.model.contract">
                                    <label class="oui-checkbox__label-container" for="contractsValidated">
                                        <span class="oui-checkbox__label">
                                            <span data-translate="privateDatabase_order_sql_contracts_checkbox_label"></span>
                                            <span class="oui-checkbox__icon">
                                                <span class="oui-icon oui-icon-checkbox-unchecked" aria-hidden="true"></span>
                                                <span class="oui-icon oui-icon-checkbox-checked" aria-hidden="true"></span>
                                                <span class="oui-icon oui-icon-checkbox-checkmark" aria-hidden="true"></span>
                                                <span class="oui-icon oui-icon-checkbox-indeterminate" aria-hidden="true"></span>
                                            </span>
                                        </span>
                                    </label>
                                </div>

                                <ul>
                                    <li data-ng-repeat="contract in sqlOrderCtrl.getDurationDetails(sqlOrderCtrl.model.type, sqlOrderCtrl.model.duration).contracts track by $index">
                                        <a data-ng-href="{{contract.url}}" target="_blank" title="{{contract.name}} ({{ 'core_new_window' | translate }})">
                                            <span data-ng-bind="contract.name"></span> (PDF)
                                            <span class="fa fa-external-link" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Order -->
                    <div class="my-5">
                        <div data-ng-if="sqlOrderCtrl.order.url">
                            <strong class="text-success"
                                    data-translate="privateDatabase_order_bc_created_info"></strong><br>
                            <span data-ng-if="sqlOrderCtrl.loading.window"
                                  data-translate="privateDatabase_order_bc_created_redirection_info"></span>

                            <div>
                                <button class="oui-button oui-button_primary oui-button_large-height" type="button"
                                        data-translate="privateDatabase_order_show_bc_button_label"
                                        data-ng-click="sqlOrderCtrl.openBc()">
                                </button>
                            </div>
                        </div>

                        <div data-ng-if="!sqlOrderCtrl.order.url">
                            <button class="oui-button oui-button_primary oui-button_large-height" type="button"
                                    data-ng-click="sqlOrderCtrl.generateBc()"
                                    data-ng-disabled="!sqlOrderCtrl.canOrder() || !sqlOrderCtrl['canOrder' + sqlOrderCtrl.getData(sqlOrderCtrl.model.type).key]()">
                                <oui-spinner data-size="s" data-ng-if="sqlOrderCtrl.loading.bc"></oui-spinner>
                                <span data-translate="privateDatabase_order_sql_button_label"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
