<div class="container-fluid px-0" data-ng-controller="PrivateDatabaseMetricsCtrl as metricsCtrl">

    <oui-loader size="l" data-ng-if="metricsCtrl.loaders.metrics"></oui-loader>

    <div data-ovh-alert="{{alerts.main}}"></div>

    <div data-ng-if="!metricsCtrl.loaders.metrics">
        <!-- MEMORY USAGE -->
        <h2 data-i18n-static="privateDatabase_metrics_memory_title"></h2>

        <div class="chart-container" style="height: 320px;"
             data-ng-if="metricsCtrl.chart.memory.data.datasets.length"
             data-chartjs="metricsCtrl.chart.memory">
        </div>

        <div class="alert alert-info" role="alert"
             data-i18n-static="privateDatabase_metrics_no_data"
             data-ng-if="!metricsCtrl.chart.memory.data.datasets.length">
        </div>

        <!-- ACTIVE CONNECTIONS -->
        <h2 class="mt-5"
            data-i18n-static="privateDatabase_metrics_connections_title"></h2>

        <div class="chart-container" style="height: 320px;"
             data-ng-if="metricsCtrl.chart.connections.data.datasets.length"
             data-chartjs="metricsCtrl.chart.connections">
        </div>

        <div class="alert alert-info" role="alert"
             data-ng-if="!metricsCtrl.chart.connections.data.datasets.length">
            <span data-i18n-static="privateDatabase_metrics_no_data"
                  data-ng-if="!metricsCtrl.isWrongVersion"></span>
            <span data-ng-bind-html="tr('privateDatabase_metrics_wrong_version', [metricsCtrl.wrongVersionTrad])"
                  data-ng-if="metricsCtrl.isWrongVersion"></span>
        </div>

        <!-- QUERY TIME -->
        <h2 class="mt-5"
            data-i18n-static="privateDatabase_metrics_time_title"></h2>

        <div class="chart-container" style="height: 320px;"
             data-ng-if="metricsCtrl.chart.time.data.datasets.length && !metricsCtrl.isWrongVersion"
             data-chartjs="metricsCtrl.chart.time">
        </div>

        <div class="alert alert-info" role="alert"
             data-ng-if="!metricsCtrl.chart.time.data.datasets.length || metricsCtrl.isWrongVersion">
            <span data-i18n-static="privateDatabase_metrics_no_data"
                  data-ng-if="!metricsCtrl.chart.time.data.datasets.length"></span>
            <span data-ng-bind-html="tr('privateDatabase_metrics_wrong_version', [metricsCtrl.wrongVersionTrad])"
                  data-ng-if="metricsCtrl.isWrongVersion"></span>
        </div>
    </div>
</div>
