<div class="container-fluid px-0" data-ng-controller="PrivateDatabaseCronCtrl as cronCtrl">
    <div class="row">
        <div class="col-md-9">
            <div data-ovh-alert="{{alerts.main}}"></div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" data-i18n-static="privateDatabase_tabs_cron_database"></th>
                            <th scope="col" data-i18n-static="privateDatabase_tabs_cron_description"></th>
                            <th scope="col" data-i18n-static="privateDatabase_tabs_cron_command"></th>
                            <th scope="col" data-i18n-static="privateDatabase_tabs_cron_frequency"></th>
                            <th scope="col" data-i18n-static="privateDatabase_tabs_cron_email"></th>
                            <th scope="col" data-i18n-static="privateDatabase_tabs_cron_status"></th>
                            <th class="min-width text-right">
                                <button class="btn btn-icon" type="button" title="{{i18n.privateDatabase_tabs_refresh_data}}"
                                        data-ng-click="cronCtrl.getCronIds()">
                                    <span class="fa fa-refresh" aria-hidden="true"></span>
                                </button>
                            </th>
                        </tr>
                    </thead>

                    <tbody data-ng-if="cronCtrl.loaders.cron">
                        <tr>
                            <td class="loader text-center" colspan="7"></td>
                        </tr>
                    </tbody>

                    <tbody data-ng-if="!cronCtrl.loaders.cron && !cronCtrl.cronIds.length">
                        <tr>
                            <td class="text-center" colspan="7"
                                data-i18n-static="privateDatabase_tabs_cron_null"></td>
                        </tr>
                    </tbody>

                    <tbody data-ng-if="!cronCtrl.loaders.cron && cronCtrl.cronIds.length > 0">
                        <tr data-ng-repeat="cron in cronCtrl.cronDetails track by $index">
                            <td data-ng-bind="::cron.databaseName"></td>
                            <td data-ng-bind="::cron.description"></td>
                            <td data-ng-bind="::cron.command"></td>
                            <td data-ng-bind="::cron.frequency"></td>
                            <td data-ng-bind="::cronCtrl.trEmail(cron.email)"></td>
                            <td>
                                <span data-i18n-static="{{'privateDatabase_tabs_cron_status_' + cron.status}}"
                                      data-ng-class="{'label label-danger': cron.status === 'suspended'}"></span>
                            </td>
                            <td class="text-nowrap">
                                <button class="btn btn-icon" type="button" title="{{tr('hosting_tab_CRON_table_popover_modify')}}"
                                        data-ng-click="cronCtrl.modifyCron(cron)">
                                    <span class="oui-icon oui-icon-pen_line ui-icon_small" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-icon" type="button" title="{{tr('hosting_tab_CRON_table_popover_delete')}}"
                                        data-ng-click="cronCtrl.deleteCron(cron)">
                                    <span class="oui-icon oui-icon-trash_line ui-icon_small" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="clearfix"
                 data-ng-if="cronCtrl.cronIds">
                <div data-pagination-front
                     data-items="cronCtrl.cronIds"
                     data-paginated-items="cronCtrl.cronDetails"
                     data-current-page="currentPage"
                     data-nb-pages="nbPages"
                     data-items-per-page="itemsPerPage"
                     data-transform-item="cronCtrl.getCronDetails(item)"
                     data-on-transform-item-done="cronCtrl.onTransformItemsDone(items)"
                     data-page-placeholder="{{tr('pagination_page', [currentPage, nbPages])}}"
                     data-item-per-page-placeholder="{{tr('pagination_display')}}"
                     data-ng-show="!cronCtrl.loaders.cron && cronCtrl.cronDetails.length > 0">
                </div>
            </div>
        </div>

        <div class="col-md-3 mt-5 mt-lg-0">
            <button class="btn btn-block btn-default" type="button"
                    data-i18n-static="privateDatabase_add_cron_title"
                    data-ng-click="addCron({})">
            </button>
        </div>
    </div>
</div>
