<div class="popover-menu">
    <button class="btn btn-link" type="button"
            data-i18n-static="email_tab_popover_redirection_update"
            data-ng-click="setAction('email-domain/email/redirection/update/email-domain-email-redirection-update', { redirection: redirection, domain: domain })">
    </button>
    <button class="btn btn-link" type="button"
            data-i18n-static="email_tab_popover_redirection_delete"
            data-ng-click="setAction('email-domain/email/redirection/delete/email-domain-email-redirection-delete', { redirection: redirection })">
    </button>
</div>
