<div data-ng-controller="HostingUpgradeOfferCtrl">
    <div data-wizard
         data-wizard-bread-crumb
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="orderUpgrade"
         data-wizard-title="i18n.hosting_order_upgrade_title">

        <!-- Step 1: Select a capacity -->
        <div data-wizard-step
             data-wizard-step-on-load="getAvailableOffers"
             data-wizard-step-valid="model.capacity && downgradeAgree.value">

            <div class="loader text-center mt-5" aria-label="{{i18n.common_loading}}" data-ng-if="loading.availableOffer"></div>

            <div data-ng-if="!loading.availableOffer">
                <form name="orderUpgradeForm">
                    <div class="form-group mt-4" data-ng-if="availableOffers.length">
                        <label class="control-label"
                               for="hostingOffer"
                               data-i18n-static="hostin_order_select_offer"></label>
                        <select class="form-control"
                                name="capacity"
                                id="hostingOffer"
                                data-ng-change="onOfferChange()"
                                data-ng-model="model.capacity"
                                data-ng-options="(i18n['hosting_dashboard_service_offer_' + availableOffer] || availableOffer) for availableOffer in availableOffers | orderBy:orderByOffer">
                            <option value=""
                                    data-ng-disabled="true"
                                    data-i18n-static="select_option"></option>
                        </select>
                    </div>

                    <div class="alert alert-warning mt-5"
                         role="alert"
                         data-i18n-static="hosting_order_upgrade_no_offer"
                         data-ng-if="!availableOffers.length">
                    </div>

                    <div data-ng-if="model.capacity && model.capacity === 'KS'">
                        <p data-i18n-static="hosting_dashboard_service_offer_downgrade_KIMSUFI_2015"></p>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-ng-model="downgradeAgree.value" />
                                <span data-i18n-static="hosting_dashboard_service_offer_downgrade_KIMSUFI_2015_agree"></span>
                            </label>
                        </div>
                    </div>
                </form>

                <div class="alert alert-info mt-5"
                     role="alert"
                     data-i18n-static="hosting_order_upgrade_select_noduration"
                     data-ng-if="!loading.durations || durations.available">
                </div>
            </div>
        </div>

        <!-- Step 2: Durations -->
        <div data-wizard-step
             data-wizard-step-on-load="getDurations"
             data-wizard-step-valid="model.duration && durations.available">

            <p data-i18n-static="hosting_order_upgrade_select_duration"
               data-ng-if="durations.available"></p>

            <div class="text-center" data-ng-if="loading.durations">
                <div class="loader" aria-hidden="true"></div>
                <span data-i18n-static="hosting_order_upgrade_loading_order"></span>
            </div>

            <form class="ml-4" name="orderUpgradeForm" data-ng-if="!loading.durations">
                <div class="radio"
                     data-ng-repeat="duration in (durations.available | orderBy: 'duration': false) track by $index">
                    <label>
                        <input type="radio"
                               name="upgradeDuration"
                               data-ng-bind=""
                               data-ng-model="model.duration"
                               data-ng-value="duration">
                        <span data-ng-bind="duration.duration | duration: 'longDate'"></span>&nbsp;:
                        <span data-ng-bind-html="duration.prices | price: ovhSubsidiary"></span>
                    </label>
                </div>
            </form>
        </div>

        <!-- Step 3: Contracts -->
        <div data-wizard-step
             data-wizard-step-on-load="loadContracts"
             data-wizard-step-valid="agree.value">

            <div data-contracts="model.duration.contracts"
                 data-full-text="false"
                 data-ng-model="agree.value">
            </div>
        </div>


        <!-- Step 4: Resume and validation -->
        <div data-wizard-step
             data-wizard-step-on-previous="backToContracts"
             data-wizard-step-valid="!loading.validation">

            <div class="loader text-center mt-5" aria-label="{{i18n.common_loading}}" data-ng-if="loading.validation"></div>

            <div data-ng-if="!loading.validation">
                <p data-i18n-static="hosting_order_upgrade_resume"></p>

                <table class="table table-condensed">
                    <tbody>
                        <tr data-ng-repeat="detail in model.duration.details track by $index">
                            <th class="font-weight-normal" scope="row"
                                data-ng-bind="detail.description"></th>
                            <td class="text-nowrap text-right">
                                <strong data-ng-bind="getResumePrice(detail.totalPrice)"></strong>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text-right"
                                scope="row"
                                data-i18n-static="hosting_order_upgrade_price_HT"></th>
                            <td class="font-weight-bold text-right"
                                data-ng-bind="model.duration.prices.withoutTax.text"></td>
                        </tr>
                        <tr>
                            <th scope="row"
                                class="text-right"
                                data-i18n-static="hosting_order_upgrade_price_TTC"></th>
                            <td class="font-weight-bold text-right"
                                data-ng-bind="model.duration.prices.withTax.text"></td>
                        </tr>
                    </tfoot>
                </table>

                <div class="alert alert-info mt-4" role="alert"
                     data-i18n-static="hosting_order_upgrade_do_order">
                </div>
                <div class="alert alert-warning mt-4" role="alert">
                    <div>
                        <strong data-i18n-static="hosting_order_upgrade_freedom_warning"></strong>
                        <span data-i18n-static="hosting_order_upgrade_freedom_warning_text"></span>
                    </div>
                </div>
                <p>
                    <strong data-i18n-static="hosting_order_upgrade_do_order_upgrade"></strong>
                    <span data-i18n-static="hosting_order_upgrade_do_order_upgrade_text"></span>
                </p>
                <p>
                    <strong data-i18n-static="hosting_order_upgrade_do_order_downgrade"></strong>
                    <span data-i18n-static="hosting_order_upgrade_do_order_downgrade_text"></span>
                </p>
            </div>
        </div>
    </div>
</div>
