<div class="popover-menu">
    <button class="btn btn-link" type="button"
            data-translate="table_modify_entry"
            data-ng-click="setAction('dynhost/login/edit/domain-dynhost-login-edit', {login: login, product: ctrlDomainDynHostLogin.product})">
    </button>
    <button class="btn btn-link" type="button"
            data-translate="table_delete_entry"
            data-ng-click="setAction('dynhost/login/delete/domain-dynhost-login-delete', {login: login.login, zoneName: ctrlDomainDynHostLogin.product.name})">
    </button>
</div>
